<a href="https://colab.research.google.com/github/dyahrosita/Project/blob/main/HOLCIM_Weekly_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.1)

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import pandas as pd
import numpy as np
import openpyxl
import xlsxwriter
from google.colab import files

# Input data-data yang diperlukan
1. Input Periode (contoh: **2129**)
2. Input file Excel: 

  **1. 'Scan Calendar 2021'**

  **2. 'HOLCIM_WEEKLY_CALL_WE2921.xlsx'**

  **3. 'SBI Weekly Price 2019 - 2021 (WE2128).xlsx'**

In [ ]:
Week = int(input("Enter Week Period: "))

Enter Week Period: 2132

In [ ]:
# Scan Calendar 2021

uploaded3 = files.upload()

Saving Scan Calender 2021.xlsx to Scan Calender 2021.xlsx

In [ ]:
# HOLCIM_WEEKLY_CALL_WE2921.xlsx

uploaded = files.upload()

Saving HOLCIM_WEEKLY_CALL_WE3221.xlsx to HOLCIM_WEEKLY_CALL_WE3221.xlsx

In [ ]:
# SBI Weekly Price 2019 - 2021 (WE2128).xlsx

uploaded2 = files.upload()

Saving SBI Weekly Price 2019 - 2021 (WE2131).xlsx to SBI Weekly Price 2019 - 2021 (WE2131).xlsx

In [ ]:
data1 = pd.read_excel([*uploaded][0])

In [ ]:
data1.head()

   StoreCode      STORENAME  MBD 2019  ...   SEGMENT Beli Call  Jual Call
0    1024220     TB GUMILAR    Cigata  ...  Portland     50000      53000
1    1033533    TB. PERDANA    Bregal  ...  Portland     50000      53000
2    1038536   KARUNIA JAYA    Bawasi  ...  Portland     52750      55000
3    1049635     TB SAWARGI      Suci  ...  Portland     51000      55000
4    1060221  TB PILAR BUMI  Manggung  ...  Portland     49500      53000

[5 rows x 13 columns]

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2406 entries, 0 to 2405
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StoreCode    2406 non-null   int64
 1   STORENAME    2406 non-null   object
 2   MBD 2019     2098 non-null   object
 3   MBD 2020     2406 non-null   object
 4   MBD 2021     2406 non-null   object
 5   Item Code    2406 non-null   int64
 6   Item Desc    2406 non-null   object
 7   PACKSIZE     2406 non-null   object
 8   BRAND        2406 non-null   object
 9   MANUFACTURE  2406 non-null   object
 10  SEGMENT      2406 non-null   object
 11  Beli Call    2406 non-null   int64
 12  Jual Call    2406 non-null   int64
dtypes: int64(4), object(9)
memory usage: 244.5+ KB

In [ ]:
data1.shape[0]

2406

In [ ]:
data1['Check'] = data1['Jual Call'] - data1['Beli Call']

for i in range(data1.shape[0]):
  data1['Period'] = Week

# Check apakah ada Harga Jual yang lebih kecil daripada Harga Beli nya?

In [ ]:
data1[data1['Check'] < 0]

Empty DataFrame
Columns: [StoreCode, STORENAME, MBD 2019, MBD 2020, MBD 2021, Item Code, Item Desc, PACKSIZE, BRAND, MANUFACTURE, SEGMENT, Beli Call, Jual Call, Check, Period]
Index: []

# Check data-datanya apakah ada yang aneh

In [ ]:
data1.describe()

          StoreCode     Item Code  ...         Check  Period
count  2.406000e+03  2.406000e+03  ...   2406.000000  2406.0
mean   1.380084e+06  3.390036e+06  ...   3658.663757  2132.0
std    1.731600e+05  4.934468e+01  ...   3741.893149     0.0
min    1.024099e+06  3.390001e+06  ...      0.000000  2132.0
25%    1.227334e+06  3.390003e+06  ...   2000.000000  2132.0
50%    1.297659e+06  3.390024e+06  ...   2750.000000  2132.0
75%    1.546626e+06  3.390047e+06  ...   4000.000000  2132.0
max    1.604245e+06  3.390252e+06  ...  43000.000000  2132.0

[8 rows x 6 columns]

In [ ]:
data2 = pd.read_excel([*uploaded2][0])

In [ ]:
temp = data1[['Period','StoreCode','MBD 2021','Item Desc','BRAND','PACKSIZE','SEGMENT','Beli Call','Jual Call']]
temp.columns = data2.columns

In [ ]:
print("Jumlah row Data awal :", data2.shape[0])
print("Jumlah row data tambahan :", temp.shape[0])
print("Seharusnya setelah penambahan data baru, total barisnya ada sebanyak:", data2.shape[0]+temp.shape[0])

Jumlah row Data awal : 366209
Jumlah row data tambahan : 2406
Seharusnya setelah penambahan data baru, total barisnya ada sebanyak: 368615

In [ ]:
newdata = data2.append(temp)
print("Total baris data :", newdata.shape[0])

Total baris data : 368615

Data Wrangling

In [ ]:
newdata['PACKAGING'] = newdata['PACKAGING'].str.replace('kg','Kg')
newdata['SEGMENT'] = newdata['SEGMENT'].str.capitalize()

# Membuat Excel Report 'SBI - Weekly Price (ddmmyy)

In [ ]:
buying_price = pd.pivot_table(data= newdata, values='BUYING PRICE', index=['MBD','SKU','PLAYER','PACKAGING','SEGMENT'], columns='PERIOD' ,aggfunc= np.mean)

In [ ]:
selling_price = pd.pivot_table(data= newdata, values='SELLING PRICE', index=['MBD','SKU','PLAYER','PACKAGING','SEGMENT'], columns='PERIOD' ,aggfunc= np.mean)

In [ ]:
week_map = pd.read_excel([*uploaded3][0],'Mapping')

In [ ]:
for i in buying_price.columns:
  print(i)

1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132

In [ ]:
buying_price.columns = week_map['Y/M W']
selling_price.columns = week_map['Y/M W']

In [ ]:
buying_price.reset_index(inplace=True)
selling_price.reset_index(inplace=True)

In [ ]:
brands = ['Dynamix', 'Semen Gresik', 'Semen Tiga Roda']
Dynamix_buy, SG_buy, STR_buy = [], [], []
Dynamix_sell, SG_sell, STR_sell = [], [], []
for i in brands:
  diff_buying_price = buying_price[buying_price['PLAYER'] == i].iloc[:,-1]-buying_price[buying_price['PLAYER'] == i].iloc[:,-2]
  diff_selling_price = selling_price[selling_price['PLAYER'] == i].iloc[:,-1]-selling_price[selling_price['PLAYER'] == i].iloc[:,-2]
  rows_b = diff_buying_price[diff_buying_price > 0].index.tolist()
  rows_s = diff_selling_price[diff_selling_price > 0].index.tolist()
  if i == 'Dynamix':
    Dynamix_buy = buying_price.iloc[rows_b]['MBD'].drop_duplicates()
    Dynamix_sell = selling_price.iloc[rows_s]['MBD'].drop_duplicates()
  elif i == 'Semen Gresik':
    SG_buy = buying_price.iloc[rows_b]['MBD'].drop_duplicates()
    SG_sell = selling_price.iloc[rows_s]['MBD'].drop_duplicates()
  else:
    STR_buy = buying_price.iloc[rows_b]['MBD'].drop_duplicates()
    STR_sell = selling_price.iloc[rows_s]['MBD'].drop_duplicates()

In [ ]:
print("The following MBDs show incremental of buying price of Dynamix: ",Dynamix_buy.count(),'\n' * 2)
#Dynamix_buy

The following MBDs show incremental of buying price of Dynamix:  25

In [ ]:
print("The following MBDs show incremental of selling price of Dynamix: ",Dynamix_sell.count(),'\n' * 2)
#Dynamix_sell

The following MBDs show incremental of selling price of Dynamix:  22

In [ ]:
print("The following MBDs show incremental of buying price of Semen Gresik: ",SG_buy.count(),'\n' * 2)
#SG_buy

The following MBDs show incremental of buying price of Semen Gresik:  17

In [ ]:
print("The following MBDs show incremental of selling price of Semen Gresik: ",SG_sell.count(),'\n' * 2)
#SG_sell

The following MBDs show incremental of selling price of Semen Gresik:  23

In [ ]:
print("The following MBDs show incremental of buying price of Semen Tiga Roda: ",STR_buy.count(),'\n' * 2)
#STR_buy

The following MBDs show incremental of buying price of Semen Tiga Roda:  25

In [ ]:
print("The following MBDs show incremental of selling price of Semen Tiga Roda: ",STR_sell.count(),'\n' * 2)
#STR_sell

The following MBDs show incremental of selling price of Semen Tiga Roda:  31

In [ ]:
# Writing to Excel Workbook
import xlsxwriter
Week = str(Week)
excel_name= 'SBI - Weekly Price (WE'+ Week +').xlsx'
workbook = xlsxwriter.Workbook(excel_name)
worksheet1 = workbook.add_worksheet('Summary')

In [ ]:
cell_format = workbook.add_format()

cell_format.set_pattern(1)  # This is optional when using a solid fill.
cell_format.set_bg_color('#C00000')

worksheet1.set_row(0, 15, cell_format)
worksheet1.set_row(18, 15, cell_format)
worksheet1.set_row(36, 15, cell_format)

0

In [ ]:
cell_format1 = workbook.add_format({'font_size': 10, 'num_format': '#,##0'})

worksheet1.write('A3', 'The following MBDs show incremental of buying price of Dynamix:', cell_format1)
worksheet1.write('A11', 'While the following MBDs show incremental of selling price of Dynamix:', cell_format1)

worksheet1.write('A21', 'The following MBDs show incremental of buying price of Semen Gresik:', cell_format1)
worksheet1.write('A29', 'While the following MBDs show incremental of selling price of Semen Gresik:', cell_format1)

worksheet1.write('A39', 'The following MBDs show incremental of buying price of Semen Tiga Roda:', cell_format1)
worksheet1.write('A47', 'While the following MBDs show incremental of selling price of Semen Tiga Roda:', cell_format1)

cell_format2 = workbook.add_format({'bold': True, 'font_color': 'white', 'bg_color': '#C00000', 'font_size': 10})
worksheet1.write('A1', 'DYNAMIX', cell_format2)
worksheet1.write('A19', 'SEMEN GRESIK', cell_format2)
worksheet1.write('A37', 'SEMEN TIGA RODA', cell_format2)

0

In [ ]:
row = 3
column = 0
# iterating through content list
for item in Dynamix_buy.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 7:
      column += 1
      row = 3

row = 11
column = 0
# iterating through content list
for item in Dynamix_sell.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 15:
      column += 1
      row = 11

row = 21
column = 0
# iterating through content list
for item in SG_buy.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 25:
      column += 1
      row = 21

row = 29
column = 0
# iterating through content list
for item in SG_sell.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 33:
      column += 1
      row = 29

row = 39
column = 0
# iterating through content list
for item in STR_buy.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 43:
      column += 1
      row = 39

row = 47
column = 0
# iterating through content list
for item in STR_sell.values :
    # write operation perform
    worksheet1.write(row, column, item)
    row += 1
    if row > 51:
      column += 1
      row = 47

In [ ]:
worksheet2 = workbook.add_worksheet('Buying Price')

In [ ]:
#buying_price = buying_price.drop('index', axis= 1)
buying_price = buying_price.replace(np.nan, '', regex=True)

In [ ]:
row = 0
column = 0
# iterating through content list
for item in buying_price.columns :
    # write operation perform
    worksheet2.write(row, column, item, cell_format2)
    column += 1

In [ ]:
row = 1
column = 0
# iterating through content list
for i in range(buying_price.shape[0]) :
  for j in range(buying_price.shape[1]) :
    worksheet2.write(row, column, buying_price.iloc[i][j], cell_format1)
    column += 1
  row += 1
  column = 0

In [ ]:
worksheet3 = workbook.add_worksheet('Selling Price')

In [ ]:
selling_price = selling_price.replace(np.nan, '',regex=True)

In [ ]:
row = 0
column = 0
# iterating through content list
for item in selling_price.columns :
    # write operation perform
    worksheet3.write(row, column, item, cell_format2)
    column += 1

In [ ]:
row = 1
column = 0
# iterating through content list
for i in range(selling_price.shape[0]) :
  for j in range(selling_price.shape[1]) :
    worksheet3.write(row, column, selling_price.iloc[i][j], cell_format1 )
    column += 1
  row += 1
  column = 0

In [ ]:
workbook.close()

# Mengupdate file SBI Weekly Price 2019 - 2021

In [ ]:
wbkName = [*uploaded2][0]
wbk = openpyxl.load_workbook(wbkName)

In [ ]:
sheet = wbk.active
row = (data2.shape[0]) + 2
column = 1

for myRow in range(temp.shape[0]):
  for myCol in range(temp.shape[1]):
    sheet.cell(row, column).value = temp.iloc[myRow][myCol]
    column += 1
  row += 1
  column = 1

wbkName_New = 'SBI Weekly Price 2019 - 2021 (WE'+Week+').xlsx'
wbk.save(wbkName_New)
wbk.close