<a href="https://colab.research.google.com/github/dyahrosita/Project/blob/main/Project_JTI_5AO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import LIbrary

In [244]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from functools import reduce
import datetime as dt

from google.colab import files
from google.colab import drive
drive.mount("/content/gdrive/")

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

# Store Observation

In [601]:
drop_column = ['LANGUAGE_ID', 'VERSION', 'RESPONSE_NAME', 'RESPONSE_STATUS', 'SOURCE_OF_ENTRY', 'RESPONSE_MODE',
              'BACKCHK_FLAG', 'QC_STATUS', 'START_TIME', 'SUBMIT_TIME', 'SYNC_TIME', 'SERVER_SYNC_TIME',
              'CREATED_BY', 'CDAR_USER_ID', 'START_TIME_V1', 'SUBMIT_TIME_V1', 'CREATED_BY_V1', 'CDAR_USER_ID_V1',
              'SURVEY_DURATION_V1', 'SURVEY_ID', 'SURVEY_VERSION', 'QC_REMARK', 'QC_START_DATE', 'QC_END_DATE',
              'QC_SYNC_DATE', 'QC_SUBMIT_BY', 'APP_VERSION', 'PLATFORM_NAME', 'PLATFORM_MODEL', 'PLATFORM_VERSION',
              'FV_STATUS', 'FV_REMARK', 'FV_START_DATE', 'FV_END_DATE', 'FV_SYNC_DATE', 'FV_SUBMIT_BY', 'SCC_STATUS',
              'SCC_REMARK', 'SCC_START_DATE', 'SCC_END_DATE', 'SCC_SYNC_DATE', 'SCC_SUBMIT_BY', 'FLAG1', 'FLAG2',
              'FLAG3', 'FLAG4', 'FLAG5', 'SURVEY_MINOR_VERSION', 'Default Question Text', 'Q1. ID Auditor / CT',
              'Q2. Nama Auditor / CT', 'Q3B. Jam Survey', 'Latitude', 'LON_1', 'Q3L_Status FLAG', 'Q3M_Area Code',
              'Q4. Apakah informasi toko sudah benar?', 'Q4A. Apakah informasi nama toko sudah benar?', 'Q4A_1. Nama toko', 
              'Q4B. Apakah informasi alamat toko sudah benar?', 'Q4B_1. Alamat', 'Q4C. Apakah informasi type toko sudah benar?',
              'Q4C_1. Type toko', 'Q4D. Apakah informasi untuk (Provinsi, Kota, Kel, Kec) sudah benar?', 'Q4D_1. Provinsi',
              'Q4E_1. Kota', 'Q4F_1. Kecamatan', 'Q4G_1. Kelurahan', 'Q5A. Apakah ada papan penanda toko / spanduk terdapat Nama Toko?',
              'Q5B. Nama toko (menanyakan ke responden / tetangga)', 'Q5C. Tidak ada nama toko informasi (NA):NA', 'Q6A',
              'Q6. nama toko di penanda toko / toko tanda-tanda / spanduk toko', 'Q8. Lot / Los / Blokir',
              'Q9. informasi tambahan', 'Q10. Nama Lengkap pemilik Toko', 'Q11. Nama Penjaga Toko responden (di-interview)',
              'Q12. nomor telepon - Telkom (area nomor kode + telepon)', 'Q13. Nomor ponsel', 'Alamat', 'Q50N_1', 
              'Q50N_2', 'Q50N_3', 'Q50N_4', 'Q25', 'Q26', 'Q16_3', 'Q16_4', 'Q16_5', 'Q16_6', 'Q16_7', 'Q16_8', 'Q16_9',
              'Q16_10', 'Q16_11', 'Q16_12', 'Kecamatan', 'Kelurahan', 'Q3A. Tanggal Survey',
              'Q32_You have completed the survey, please check the data on summary page.']

In [602]:
Promotion_APM = ['Q50A_Apakah toko anda mendapatkan material promosi (sticker,poster,etc) untuk brand dibawah ini::Brand Apache Merah',
                 'Q50B_Apakah ada promosi diskon untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50C_Apakah ada promosi Beli berapa pack gratis berapa pack contoh beli 2 gratis 1, beli 4 gratis 1 untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50D_Apakah ada promosi hadiah penjualan : Dapatkan Poin, Dapatkan Hadiah, dll. untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50E_Apakah ada promosi tukar cangkang/bungkus untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50F_Apakah ada promosi bundling produk untuk Brand di bawah ini ::Brand Apache Merah']

Visibility_APM = ['Q50H_Apakah ada POSM sunscreen untuk brand berikut.:Brand Apache Merah',
                  'Q50I_Apakah ada POSM Tape Blocking Display untuk brand berikut.:Brand Apache Merah',
                  'Q50J_Apakah ada POSM decorative pack untuk brand berikut:Brand Apache Merah',
                  'Q50K_Apakah ada POSM sticker per pack atau perbatang untuk brand berikut:Brand Apache Merah',
                  'Q50L_Apakah ada POSM Blocking Display (Dummy Pack ada 5 Pack kosong) untuk brand berikut:Brand Apache Merah',
                  'Q50M_Apakah ada POSM Hanging Lighter untuk brand berikut:Brand Apache Merah']

In [603]:
MAP = pd.read_excel('gdrive/My Drive/JACOB/Datamap DCT Jacob.xlsx')

## Store Observation - IA (week 1)

In [604]:
SO_IA = pd.read_excel('gdrive/My Drive/JACOB/Data Clean JTI-Jacob 2021 Week 1-IA.xlsx','Rawdata DCT')

In [605]:
col_name = pd.DataFrame(SO_IA.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO_IA.columns = col_name['Label']

In [606]:
SO_IA = SO_IA.drop(drop_column, axis=1)
SO_IA.insert(0,'Periode', '26Jul - 1Aug')

## Store Observation 1 (week 2)

In [607]:
SO1 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 2 (RA1).xlsx','Rawdata DCT')

In [608]:
col_name = pd.DataFrame(SO1.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO1.columns = col_name['Label']

In [609]:
drop_column.append('Q7. Lantai')

In [610]:
SO1 = SO1.drop(drop_column, axis=1)
SO1.insert(0,'Periode', '2Aug - 8Aug')

## Store Observation 2 (week 3)

In [611]:
SO2 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 3 (RA2).xlsx','DCT')

In [612]:
col_name = pd.DataFrame(SO2.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO2.columns = col_name['Label']

In [613]:
SO2 = SO2.drop(drop_column, axis=1)
SO2.insert(0,'Periode', '9Aug - 15Aug')

## Store Observation 3 (week 4)

In [614]:
SO3 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 4 (RA3).xlsx','DCT')

In [615]:
col_name = pd.DataFrame(SO3.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO3.columns = col_name['Label']

In [616]:
SO3 = SO3.drop(drop_column, axis=1)
SO3.insert(0,'Periode', '16Aug - 29Aug')

## Store Observation 4 (week 5-6)

In [617]:
SO4 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 6 - CS Version.xlsx','DCT')

In [618]:
col_name = pd.DataFrame(SO4.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO4.columns = col_name['Label']

In [619]:
SO4 = SO4.drop(drop_column, axis=1)
SO4.insert(0,'Periode', '30Aug - 12Sep')

###Membuat mapping area, mapping item, dan mapping toko

In [620]:
my_dict = {'Provinsi': ['LAMPUNG','SUMATERA SELATAN','JAWA BARAT','JAWA TIMUR','NUSA TENGGARA TIMUR','JAWA TENGAH'],
        'Area': ['LAMPUNG','PALEMBANG','KARAWANG','MADIUN','KUPANG','PURWOKERTO']}
area_mapping = pd.DataFrame(my_dict)

In [621]:
my_dict2 = {'Product Description': ['153 Satu Lima Tiga Lista Kumala Soft Plain 12 Stc (Sktb)','Apache Brown Box Plain 12 Stc (Sktb)',
                                    'Apache Brown Box Plain 20 Stc (Sktb)','Apache Brown Soft Plain 12 Stc (Sktb)',
                                    'Apache Merah Box Plain 12 Stc (Sktb)','Bentoel SJT Box Plain 12 Stc (Sktnb)',
                                    'Bulls Box Plain 12 Stc (Sktb)','Dados Brown Soft Plain 12 Stc (Sktb)',
                                    'Divo Box Plain 12 Stc (Sktb)','Djarum 76 Brown Box Plain 12 Stc (Sktb)',
                                    'Djarum Coklat Soft Plain 12 Stc (Sktb)','Djarum Istimewa Soft Coklat Plain 12 Stc (Sktb)',
                                    'Dji Sam Soe Edisi Khusus Soft Plain 12 Stc (Sktb)','Dji Sam Soe Soft Plain 12 Stc (Sktb)',
                                    'Grendel Utama Yellow Box Plain 12 Stc (Sktb)','Gudang Baru King Size Box Plain 12 Stc (Sktb)',
                                    'Gudang Baru King Size Soft Plain 12 Stc (Sktb)','Gudang Garam Djaja Box Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Djaja Soft Kspl 12 Stc (Sktb)','Gudang Garam Red Box Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Red Soft Kspl 12 Stc (Sktb)','Gudang Garam Taman Sriwedari Soft Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Taman Sriwedari Soft Plain 12 Stc (Sktb)','Kedai Kopi Yellow Soft Plain 12 Stc (Sktb)',
                                    'Marlboro Box Filter 12 Stc (Skmb)','Menara Special Kuning Box Plain 12 Stc (Sktb)',
                                    'Minak Djinggo Kuning Soft Plain 10 Stc (Sktb)','Nalami Na Classic Brown Soft Plain 12 Stc (Sktb)',
                                    'Panamas 1 Soft Plain 12 Stc (Sktb)','Sampoerna \'A\' Hijau Box Plain 12 Stc (Sktb)',
                                    'Sampoerna \'A\' Hijau Edisi Khusus Box Plain 10+2 Stc (Sktb)','Sampoerna Kretek 234 Box Plain 12 Stc (Sktb)',
                                    'Simustika 269 Gold Brown Box Plain 12 Stc (Sktb)','Vigor Red Box Filter 12 Stc (Sktb)',
                                    'Warung Kopi Box Plain 12 Stc (Sktb)','Djarum Coklat Extra Box Plain 12 Stc (Sktb)'],
             'Item': ['153 12','APK 12','APK 20','APK 12','APM 12','BENTOEL SJT 12','BULLS 12','DADOS 12',
                      'DIVO 12','DJARUM 76 12','DJARUM COKLAT 12','DJARUM ISTIMEWA 12','DSS 12','DSS 12',
                      'GRENDEL 12','GUDANG BARU 12','GUDANG BARU 12','DJAJA 12','DJAJA 12','GG MERAH 12',
                      'GG MERAH 12','SRIWEDARI 12','SRIWEDARI 12','KEDAI KOPI 12','MARLBORO 12','MENARA 12',
                      'MINAK DJINGGO 10','NALAMI 12','PANAMAS 12','A HIJAU 12','A HIJAU 12','SAMPOERNA KRETEK 12',
                      'SIMUSTIKA 12','VIGOR 12','WARUNG KOPI 12','DJARUM COKLAT 12']}
item_mapping = pd.DataFrame(my_dict2)

In [622]:
mapping_toko = SO_IA[['Store Code','Type Toko','Provinsi']]
mapping_toko.shape

(347, 3)

In [623]:
mapping_toko = mapping_toko.append(SO1[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(707, 3)

In [624]:
mapping_toko = mapping_toko.append(SO2[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1060, 3)

In [625]:
mapping_toko = mapping_toko.append(SO3[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1484, 3)

In [626]:
mapping_toko = mapping_toko.append(SO4[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1988, 3)

In [627]:
mapping_toko = pd.merge(mapping_toko, 
                     area_mapping, 
                     on ='Provinsi', 
                     how ='left')

In [628]:
mapping_toko = mapping_toko.drop_duplicates(ignore_index=True)
mapping_toko.drop('Provinsi', axis=1, inplace=True)

In [629]:
mapping_toko = mapping_toko.rename(columns = {'Store Code': 'SMS Id'})

### Merge Store Observation

In [630]:
columns_to_keep = [x for x in range(SO2.shape[1]) if x not in [27,30,33,36,39,42,45,48]]
SO2 = SO2.iloc[:, columns_to_keep]

In [631]:
SO2 = SO2[SO2['Q14. Status toko']=='Success']

In [632]:
SO2.shape

(319, 415)

In [633]:
SO3 = SO3[SO3['Q14. Status toko']=='Success']
SO3.shape

(395, 415)

In [634]:
SO4 = SO4[SO4['Provinsi']!='JAWA TENGAH']
SO4 = SO4[SO4['Q14. Status toko']=='Success']

In [635]:
SO4.shape

(394, 415)

In [636]:
merge_SO = SO2.append(SO3, ignore_index = True)
merge_SO = merge_SO.append(SO4, ignore_index = True)
merge_SO

Label        Periode  RESPONSE_ID  ... Q30. ID Witness       Q31_Store Comment.
0       9Aug - 15Aug     20910088  ...             NaN                  Komplit
1       9Aug - 15Aug     20910089  ...             NaN     Taging sinyal rendah
2       9Aug - 15Aug     20910090  ...             NaN               Metode ALT
3       9Aug - 15Aug     20910091  ...             NaN      Taging sinyal lemah
4       9Aug - 15Aug     20910092  ...             NaN  Toko belum belanja lagi
...              ...          ...  ...             ...                      ...
1103   30Aug - 12Sep     21304005  ...             NaN                       Ok
1104   30Aug - 12Sep     21304019  ...             NaN                  Rekrut
1105   30Aug - 12Sep     21304022  ...             NaN                   Rekrut
1106   30Aug - 12Sep     21304163  ...             NaN                      Oke
1107   30Aug - 12Sep     21304189  ...             NaN                       Ok

[1108 rows x 415 columns]

#Retail Audit

## Initial Audit (week 1)

In [276]:
# ambil data dari GDrive
IA = pd.read_excel('gdrive/My Drive/JACOB/Data Clean JTI-Jacob 2021 Week 1-IA.xlsx','Data Clean LHHT')
# ganti data yang memiliki nilai N/A dengan 0
IA = IA.fillna(0)

In [277]:
# hitung total stol
IA['Stock'] = IA['Shop/Front Stock']+IA['Other Stock']
#buat kolom unique name utk mapping (concatenate) dengan menggabungkan store code dengan product description
IA.insert(0, 'Concatenate', IA['SMS Id'].astype('str')+IA['Product Description'])

In [278]:
# menghapus kolom2 yang tidak dibutuhkan
IA = IA.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Audit Status','Sales'], axis=1)
# mengganti nama kolom agar sesuai dengan yg diinginkan
IA.columns = IA.columns.str.replace('Number Of Observation by Type of Observation','RBP')

In [279]:
# melihat sekilas data Initial Audit yang sudah dirapihkan
IA.head()

                                         Concatenate   SMS Id  ...  RSP/Price Stock
0  1609899Djarum Istimewa Soft Coklat Plain 12 St...  1609899  ...      13000  10.0
1    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  1609986  ...      13000  20.0
2        1610014Dji Sam Soe Soft Plain 12 Stc (Sktb)  1610014  ...      18000   4.0
3        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  1610908  ...      18000   5.0
4          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  1610908  ...      14000  10.0

[5 rows x 8 columns]

In [280]:
visit_IA = pd.pivot_table(IA,
               index=['SMS Id','Visit Date'],
               values='Bar Code',
               aggfunc='count'
               ).reset_index()
visit_IA.drop('Bar Code', axis=1, inplace=True)        
visit_IA = visit_IA.rename(columns={'Visit Date':'visit_IA'})

In [281]:
# membuat format untuk di merge dengan table lainnya
m_IA = IA.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_IA = m_IA.rename(columns = {'Visit Date':'IA', 
                            'RBP':'RBP_IA',
                            'RSP/Price':'RSP_IA',
                            'Stock':'Stock_IA'})

## Retail Audit 1 (week 2)

In [282]:
RA1 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 2 (RA1).xlsx','Data Clean')
RA1 = RA1.fillna(0)

In [283]:
RA1['Visit Date'] = RA1['Visit Date'].str.replace('Agu','Aug')
RA1['Visit Date'] = pd.to_datetime(RA1['Visit Date'])

In [284]:
RA1['Stock'] = RA1['Shop/Front Stock']+RA1['Other Stock']
RA1['Purchase'] = RA1['Direct Purchase(Pur1)']+RA1['Missing invoice(Pur3)']+RA1['Missing Stock']-RA1['Double Count']-RA1['Goods Returned']
RA1.insert(0, 'Concatenate', RA1['SMS Id'].astype('str')+RA1['Product Description'])

In [285]:
RA1 = RA1.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','Audit Status'], axis=1)
RA1.columns = RA1.columns.str.replace('Number Of Observation by Type of Observation','RBP')

In [286]:
'''new_IA = IA[['SMS Id','Visit Date']].drop_duplicates()
new_IA.columns = new_IA.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_IA = IA[['Concatenate','Stock']]
new2_IA.columns = new2_IA.columns.str.replace('Stock', 'Prev_Stock')'''

"new_IA = IA[['SMS Id','Visit Date']].drop_duplicates()\nnew_IA.columns = new_IA.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_IA = IA[['Concatenate','Stock']]\nnew2_IA.columns = new2_IA.columns.str.replace('Stock', 'Prev_Stock')"

In [287]:
'''RA1 = RA1.merge(new_IA, on='SMS Id')
RA1 = RA1.merge(new2_IA, on='Concatenate')'''

"RA1 = RA1.merge(new_IA, on='SMS Id')\nRA1 = RA1.merge(new2_IA, on='Concatenate')"

In [288]:
#RA1['Recheck_Sales'] = RA1['Prev_Stock']+RA1['Purchase']-RA1['Stock']

In [289]:
#RA1[RA1['Recheck_Sales']-RA1['Sales']!=0]

In [290]:
visit_RA1 = pd.pivot_table(RA1,
               index=['SMS Id','Visit Date'],
               values='Bar Code',
               aggfunc='count'
               ).reset_index()
visit_RA1.drop('Bar Code', axis=1, inplace=True)        
visit_RA1 = visit_RA1.rename(columns={'Visit Date':'visit_RA1'})

In [291]:
# membuat format untuk di merge dengan table lainnya
m_RA1 = RA1.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA1.columns = m_RA1.columns.str.replace('Visit Date', 'RA1').str.replace('RBP', 'RBP_RA1').str.replace('RSP/Price','RSP_RA1').str.replace('Stock','Stock_RA1').str.replace('Purchase','Purchase_RA1')
m_RA1.columns

Index(['Concatenate', 'SMS Id', 'Bar Code', 'Product Description', 'RA1',
       'RBP_RA1', 'RSP_RA1', 'Sales', 'Stock_RA1', 'Purchase_RA1'],
      dtype='object')

## Retail Audit 2 (week 3)

In [292]:
RA2 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 3 (RA2).xlsx','Data Clean')
RA2 = RA2.fillna(0)

In [293]:
RA2['Visit Date'] = RA2['Visit Date'].str.replace('Agu','Aug')
RA2['Visit Date'] = pd.to_datetime(RA2['Visit Date'])

In [294]:
RA2.head()

   Country Id  ...                                       Item Comment
0         360  ...                                                  0
1         360  ...      COVID - Sales turun karena kekurangan pasokan
2         360  ...                                                  0
3         360  ...                                                  0
4         360  ...  COVID - Sales naik, banyak permintaan produk/k...

[5 rows x 30 columns]

In [295]:
RA2['Stock'] = RA2['Shop/Front Stock']+RA2['Other Stock']
RA2['Purchase'] = RA2['Direct Purchase(Pur1)']+RA2['Missing invoice(Pur3)']+RA2['Missing Stock']-RA2['Double Count']-RA2['Goods Returned']
RA2.insert(0, 'Concatenate', RA2['SMS Id'].astype('str')+RA2['Product Description'])

In [296]:
RA2 = RA2.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)
RA2.columns = RA2.columns.str.replace('Number Of Observation by Type of Observation','RBP').str.replace('Sales_W2','Claimed_Sales_RA1(di_RA2)').str.replace('Item Comment','Comment_RA2')

In [297]:
RA2 = RA2.rename(columns = {'Number Of Observation by Type of Observation':'RBP',
                            'Sales':'Claimed_Sales_RA2(di_RA2)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA2)',
                            'Item Comment':'Comment_RA2'})

In [298]:
'''new_RA1 = RA1[['SMS Id','Visit Date']].drop_duplicates()
new_RA1.columns = new_RA1.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA1 = RA1[['Concatenate','Stock']]
new2_RA1.columns = new2_RA1.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA1 = RA1[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA1.columns = new_RA1.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA1 = RA1[['Concatenate','Stock']]\nnew2_RA1.columns = new2_RA1.columns.str.replace('Stock', 'Prev_Stock')"

In [299]:
'''RA2 = RA2.merge(new_RA1, on='SMS Id')
RA2 = RA2.merge(new2_RA1, on='Concatenate')'''

"RA2 = RA2.merge(new_RA1, on='SMS Id')\nRA2 = RA2.merge(new2_RA1, on='Concatenate')"

In [300]:
#RA2['Recheck_Sales'] = RA2['Prev_Stock']+RA2['Purchase']-RA2['Stock']

In [301]:
#RA2[RA2['Recheck_Sales']-RA2['Sales']!=0]

In [302]:
visit_RA2 = pd.pivot_table(RA2,
               index=['SMS Id','Visit Date'],
               values='Bar Code',
               aggfunc='count'
               ).reset_index()
visit_RA2.drop('Bar Code', axis=1, inplace=True)        
visit_RA2 = visit_RA2.rename(columns={'Visit Date':'visit_RA2'})

In [303]:
# membuat format untuk di merge dengan table lainnya
m_RA2 = RA2.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA2.columns = m_RA2.columns.str.replace('Visit Date', 'RA2').str.replace('RBP', 'RBP_RA2').str.replace('RSP/Price','RSP_RA2').str.replace('Stock','Stock_RA2').str.replace('Purchase','Purchase_RA2')
m_RA2.shape

(1749, 12)

## Retail Audit 3 (week 4)

In [304]:
RA3 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 4 (RA3).xlsx','Data Clean')
RA3 = RA3.fillna(0)

In [305]:
RA3['Visit Date'] = RA3['Visit Date'].str.replace('Agu','Aug')
RA3['Visit Date'] = pd.to_datetime(RA3['Visit Date'])

In [306]:
RA3['Stock'] = RA3['Shop/Front Stock']+RA3['Other Stock']
RA3['Purchase'] = RA3['Direct Purchase(Pur1)']+RA3['Missing invoice(Pur3)']+RA3['Missing Stock']-RA3['Double Count']-RA3['Goods Returned']
RA3.insert(0, 'Concatenate', RA3['SMS Id'].astype('str')+RA3['Product Description'])

In [307]:
RA3.head()

                                         Concatenate  ...  Purchase
0        1610063Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...      10.0
1          1610063Panamas 1 Soft Plain 12 Stc (Sktb)  ...      20.0
2  1610063Djarum Istimewa Soft Coklat Plain 12 St...  ...      10.0
3    1610063Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...       0.0
4        1610063Dados Brown Soft Plain 12 Stc (Sktb)  ...      50.0

[5 rows x 34 columns]

In [308]:
RA3 = RA3.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)

In [309]:
RA3 = RA3.rename(columns = {'Price To Retailer':'RBP', 'Sales':'Claimed_Sales_RA3(di_RA3)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA3)',
                            'Sales_W3':'Claimed_Sales_RA2(di_RA3)',
                            'Item Comment':'Comment_RA3'})

In [310]:
'''new_RA2 = RA2[['SMS Id','Visit Date']].drop_duplicates()
new_RA2.columns = new_RA2.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA2 = RA2[['Concatenate','Stock']]
new2_RA2.columns = new2_RA2.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA2 = RA2[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA2.columns = new_RA2.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA2 = RA2[['Concatenate','Stock']]\nnew2_RA2.columns = new2_RA2.columns.str.replace('Stock', 'Prev_Stock')"

In [311]:
'''RA3 = RA3.merge(new_RA2, on='SMS Id')
RA3 = RA3.merge(new2_RA2, on='Concatenate')'''

"RA3 = RA3.merge(new_RA2, on='SMS Id')\nRA3 = RA3.merge(new2_RA2, on='Concatenate')"

In [312]:
#RA3['Recheck_Sales'] = RA3['Prev_Stock']+RA3['Purchase']-RA3['Stock']

In [313]:
#RA3[RA3['Recheck_Sales']-RA3['Sales']!=0]

In [314]:
visit_RA3 = pd.pivot_table(RA3,
               index=['SMS Id','Visit Date'],
               values='Bar Code',
               aggfunc='count'
               ).reset_index()
visit_RA3.drop('Bar Code', axis=1, inplace=True)        
visit_RA3 = visit_RA3.rename(columns={'Visit Date':'visit_RA3'})

In [315]:
# membuat format untuk di merge dengan table lainnya
m_RA3 = RA3.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA3.columns = m_RA3.columns.str.replace(
    'Visit Date', 'RA3').str.replace(
        'RBP', 'RBP_RA3').str.replace(
            'RSP/Price','RSP_RA3').str.replace(
                'Stock','Stock_RA3').str.replace(
                    'Purchase','Purchase_RA3')

## Retail Audit 4 (week 5-6)

In [316]:
RA4 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 6 - CS Version.xlsx','Data Clean')
RA4 = RA4.fillna(0)

In [317]:
RA4['Stock'] = RA4['Shop/Front Stock']+RA4['Other Stock']
RA4['Purchase'] = RA4['Direct Purchase(Pur1)']+RA4['Missing invoice(Pur3)']+RA4['Missing Stock']-RA4['Double Count']-RA4['Goods Returned']
RA4.insert(0, 'Concatenate', RA4['SMS Id'].astype('str')+RA4['Product Description'])

In [318]:
RA4.head()

                                         Concatenate  ...  Purchase
0        1609895Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...      40.0
1       1609895Apache Brown Soft Plain 12 Stc (Sktb)  ...      10.0
2    1609895Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...      40.0
3  1609895Sampoerna 'A' Hijau Edisi Khusus Box Pl...  ...      40.0
4  1609895Djarum Istimewa Soft Coklat Plain 12 St...  ...     200.0

[5 rows x 35 columns]

In [319]:
RA4 = RA4.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)

In [320]:
RA4 = RA4.rename(columns = {'Price To Retailer':'RBP', 
                            'Sales':'Claimed_Sales_RA4(di_RA4)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA4)',
                            'Sales_W3':'Claimed_Sales_RA2(di_RA4)',
                            'Sales_W4&5':'Claimed_Sales_RA3(di_RA4)',
                            'Item Comment':'Comment_RA4'})

In [321]:
'''new_RA3 = RA3[['SMS Id','Visit Date']].drop_duplicates()
new_RA3.columns = new_RA3.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA3 = RA3[['Concatenate','Stock']]
new2_RA3.columns = new2_RA3.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA3 = RA3[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA3.columns = new_RA3.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA3 = RA3[['Concatenate','Stock']]\nnew2_RA3.columns = new2_RA3.columns.str.replace('Stock', 'Prev_Stock')"

In [322]:
'''RA4 = RA4.merge(new_RA3, on='SMS Id')
RA4 = RA4.merge(new2_RA3, on='Concatenate')'''

"RA4 = RA4.merge(new_RA3, on='SMS Id')\nRA4 = RA4.merge(new2_RA3, on='Concatenate')"

In [323]:
#RA4.head()

In [324]:
#RA4['Recheck_Sales'] = RA4['Prev_Stock']+RA4['Purchase']-RA4['Stock']

In [325]:
#RA4[RA4['Recheck_Sales']-RA4['Sales']!=0]

In [326]:
visit_RA4 = pd.pivot_table(RA4,
               index=['SMS Id','Visit Date'],
               values='Bar Code',
               aggfunc='count'
               ).reset_index()
visit_RA4.drop('Bar Code', axis=1, inplace=True)        
visit_RA4 = visit_RA4.rename(columns={'Visit Date':'visit_RA4'})

In [327]:
# membuat format untuk di merge dengan table lainnya
m_RA4 = RA4.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA4.columns = m_RA4.columns.str.replace(
    'Visit Date', 'RA4').str.replace(
        'RBP', 'RBP_RA4').str.replace(
            'RSP/Price','RSP_RA4').str.replace(
                'Stock','Stock_RA4').str.replace(
                    'Purchase','Purchase_RA4')

## Merge Data Retail Audit into 1 Dataframe

### Merge DataFrame IA dan RA1

In [328]:
inner = pd.merge(m_IA, m_RA1[['RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
       'Concatenate']], on="Concatenate", how="inner")
left = pd.merge(m_IA, m_RA1[['RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
       'Concatenate']], on="Concatenate", how="left", indicator=True)
right = pd.merge(m_IA[['IA','RBP_IA','RSP_IA','Stock_IA','Concatenate']], m_RA1, on="Concatenate", how="right", indicator=True)

In [329]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [330]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(1924, 14)

### Merge DataFrame IA+RA1 dan RA2

In [331]:
inner = pd.merge(df_merge, m_RA2[['Concatenate','RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2', 
                                  'Claimed_Sales_RA1(di_RA2)', 'Claimed_Sales_RA2(di_RA2)', 'Comment_RA2']], 
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, m_RA2[['Concatenate','RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2', 
                                 'Claimed_Sales_RA1(di_RA2)', 'Claimed_Sales_RA2(di_RA2)', 'Comment_RA2']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA','RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1']], 
                 m_RA2, on="Concatenate", how="right", indicator=True)

In [332]:
inner.shape

(1693, 22)

In [333]:
left[left['_merge']=='left_only'].shape

(231, 23)

In [334]:
right[right['_merge']=='right_only'].shape

(56, 22)

In [335]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [336]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(1980, 22)

### Merge DataFrame IA+RA1+RA2 dan RA3

In [337]:
m_RA3.columns

Index(['Concatenate', 'SMS Id', 'Bar Code', 'Product Description', 'RA3',
       'RBP_RA3', 'RSP_RA3', 'Claimed_Sales_RA3(di_RA3)',
       'Claimed_Sales_RA2(di_RA3)', 'Claimed_Sales_RA1(di_RA3)', 'Comment_RA3',
       'Stock_RA3', 'Purchase_RA3'],
      dtype='object')

In [338]:
inner = pd.merge(df_merge, 
                 m_RA3[['Concatenate','RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3', 
                        'Claimed_Sales_RA1(di_RA3)', 'Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']],
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, 
                m_RA3[['Concatenate','RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3', 
                       'Claimed_Sales_RA1(di_RA3)', 'Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA',
                           'RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
                           'RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2','Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)','Comment_RA2']], 
                 m_RA3, on="Concatenate", how="right", indicator=True)

In [339]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [340]:
df_merge.head()

                                         Concatenate  ...  _merge
0    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN
1        1610014Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
2        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
3          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  ...     NaN
4  1610908Djarum Istimewa Soft Coklat Plain 12 St...  ...     NaN

[5 rows x 32 columns]

In [341]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(2437, 31)

### Merge DataFrame IA+RA1+RA2+RA3 dan RA4

In [342]:
inner = pd.merge(df_merge, 
                 m_RA4[['Concatenate','RA4','RBP_RA4', 'RSP_RA4', 'Stock_RA4', 'Purchase_RA4', 
                        'Claimed_Sales_RA1(di_RA4)', 'Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)',
                        'Comment_RA4']],
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, 
                m_RA4[['Concatenate','RA4','RBP_RA4', 'RSP_RA4', 'Stock_RA4', 'Purchase_RA4', 
                        'Claimed_Sales_RA1(di_RA4)', 'Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)',
                        'Comment_RA4']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA',
                           'RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
                           'RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2','Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)','Comment_RA2',
                           'RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3','Claimed_Sales_RA1(di_RA3)','Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']],
                 m_RA4, on="Concatenate", how="right", indicator=True)

In [343]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [344]:
df_merge.head()

                                         Concatenate  ...  _merge
0    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN
1        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
2          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  ...     NaN
3  1610908Djarum Istimewa Soft Coklat Plain 12 St...  ...     NaN
4    1610908Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN

[5 rows x 42 columns]

In [345]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(3424, 41)

# Perhitungan Sales

In [346]:
# tambah mappingan type toko, Area, dan Item Product
df_merge = pd.merge(df_merge, 
                    mapping_toko, 
                    on='SMS Id',
                    how='left')
df_merge = pd.merge(df_merge, 
                    item_mapping, 
                    on='Product Description',
                    how='left')

## Perhitungan Elapsed Day

In [347]:
df_merge = pd.merge(df_merge, 
                    visit_IA, 
                    on='SMS Id',
                    how='left')
df_merge = pd.merge(df_merge, 
                    visit_RA1, 
                    on='SMS Id',
                    how='left')
df_merge = pd.merge(df_merge, 
                    visit_RA2, 
                    on='SMS Id',
                    how='left')
df_merge = pd.merge(df_merge, 
                    visit_RA3, 
                    on='SMS Id',
                    how='left')
df_merge = pd.merge(df_merge, 
                    visit_RA4, 
                    on='SMS Id',
                    how='left')

In [348]:
df_merge['ED_RA1'] = df_merge['visit_RA1'] - df_merge['visit_IA']
df_merge['ED_RA2'] = df_merge['visit_RA2'] - df_merge['visit_RA1']
df_merge['ED_RA3'] = df_merge['visit_RA3'] - df_merge['visit_RA2']
df_merge['ED_RA4'] = df_merge['visit_RA4'] - df_merge['visit_RA3']

In [349]:
df_merge.head()

                                         Concatenate   SMS Id  ...  ED_RA3  ED_RA4
0    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  1609986  ...  8 days 16 days
1        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  1610908  ...  9 days 16 days
2          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  1610908  ...  9 days 16 days
3  1610908Djarum Istimewa Soft Coklat Plain 12 St...  1610908  ...  9 days 16 days
4    1610908Gudang Garam Red Soft Kspl 12 Stc (Sktb)  1610908  ...  9 days 16 days

[5 rows x 53 columns]

## Perhitungan Sales dengan Elapsed Day

In [350]:
oneday = pd.Timedelta(days=1)

In [351]:
# Merekap data Claimed Sales dari RA1 s/d RA4
df_merge['Claimed_Sales_RA1'] = np.where(df_merge['Claimed_Sales_RA1(di_RA4)']>0, df_merge['Claimed_Sales_RA1(di_RA4)'],
                                         np.where(df_merge['Claimed_Sales_RA1(di_RA3)']>0, df_merge['Claimed_Sales_RA1(di_RA3)'],
                                                   np.where(df_merge['Claimed_Sales_RA1(di_RA2)']>0, df_merge['Claimed_Sales_RA1(di_RA2)'], np.nan)))
df_merge['Claimed_Sales_RA2'] = np.where(df_merge['Claimed_Sales_RA2(di_RA4)']>0, df_merge['Claimed_Sales_RA2(di_RA4)'],
                                          np.where(df_merge['Claimed_Sales_RA2(di_RA3)']>0, df_merge['Claimed_Sales_RA2(di_RA3)'],
                                                   np.where(df_merge['Claimed_Sales_RA2(di_RA2)']>0, df_merge['Claimed_Sales_RA2(di_RA2)'], np.nan)))
df_merge['Claimed_Sales_RA3'] = np.where(df_merge['Claimed_Sales_RA3(di_RA4)']>0, df_merge['Claimed_Sales_RA3(di_RA4)'],
                                          np.where(df_merge['Claimed_Sales_RA3(di_RA3)']>0, df_merge['Claimed_Sales_RA3(di_RA3)'], np.nan))
df_merge['Claimed_Sales_RA4'] = np.where(df_merge['Claimed_Sales_RA4(di_RA4)']>0, df_merge['Claimed_Sales_RA4(di_RA4)'], np.nan)

'''df_merge = df_merge.drop(['Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)',
                          'Claimed_Sales_RA1(di_RA3)','Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)',
                          'Claimed_Sales_RA1(di_RA4)','Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)'], 
                         axis=1)'''

"df_merge = df_merge.drop(['Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)',\n                          'Claimed_Sales_RA1(di_RA3)','Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)',\n                          'Claimed_Sales_RA1(di_RA4)','Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)'], \n                         axis=1)"

In [352]:
# Merubah bentuk time ke bilangan
df_merge['ED_RA1'] = df_merge['ED_RA1']/oneday
df_merge['ED_RA2'] = df_merge['ED_RA2']/oneday
df_merge['ED_RA3'] = df_merge['ED_RA3']/oneday
df_merge['ED_RA4'] = df_merge['ED_RA4']/oneday

In [353]:
# Replace Elapsed Day yang NA dengan nol
df_merge['ED_RA1'] = df_merge['ED_RA1'].fillna(0)
df_merge['ED_RA2'] = df_merge['ED_RA2'].fillna(0)
df_merge['ED_RA3'] = df_merge['ED_RA3'].fillna(0)
df_merge['ED_RA4'] = df_merge['ED_RA4'].fillna(0)

In [354]:
df_merge['Sales_RA1'] = np.where(df_merge['ED_RA1']!=0, round((df_merge['Stock_IA']+df_merge['Purchase_RA1']-df_merge['Stock_RA1'])/df_merge['ED_RA1']*7), df_merge['Claimed_Sales_RA1'])
df_merge['Sales_RA2'] = np.where(df_merge['ED_RA2']!=0, round((df_merge['Stock_RA1']+df_merge['Purchase_RA2']-df_merge['Stock_RA2'])/df_merge['ED_RA2']*7), df_merge['Claimed_Sales_RA2'])
df_merge['Sales_RA3'] = np.where(df_merge['ED_RA3']!=0, round((df_merge['Stock_RA2']+df_merge['Purchase_RA3']-df_merge['Stock_RA3'])/df_merge['ED_RA3']*7), df_merge['Claimed_Sales_RA3'])
df_merge['Sales_RA4'] = np.where(df_merge['ED_RA4']!=0, round((df_merge['Stock_RA3']+df_merge['Purchase_RA4']-df_merge['Stock_RA4'])/df_merge['ED_RA4']*14), df_merge['Claimed_Sales_RA4'])

In [355]:
df_merge[df_merge['visit_RA1'].isna()].head()

                                           Concatenate  ...  Sales_RA4
847  1610126Minak Djinggo Kuning Soft Plain 10 Stc ...  ...       26.0
848      1610126Djarum Coklat Soft Plain 12 Stc (Sktb)  ...       37.0
849        1610126Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...       54.0
850    1610126Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...       47.0
851  1610126Sampoerna 'A' Hijau Box Plain 12 Stc (S...  ...       39.0

[5 rows x 61 columns]

## Perhitungan Growth per Product Description per Area

In [356]:
# Hanya ambil data yang lengkap saja dari RA1-RA3
C1 = df_merge['Sales_RA1'].notna()
C2 = df_merge['Sales_RA2'].notna()
C3 = df_merge['Sales_RA3'].notna()
data_lengkap = df_merge[C1 & C2 & C3]
pivot_data = pd.pivot_table(data_lengkap,
                            index=['Area','Product Description'],
                            values=['Sales_RA1','Sales_RA2','Sales_RA3'],
                            aggfunc='sum').reset_index()
# Menghitung Growth RA1-RA2 dan Growth RA2-RA3
pivot_data['Growth RA2'] = (pivot_data['Sales_RA2']-pivot_data['Sales_RA1'])/pivot_data['Sales_RA1']
pivot_data['Growth RA3'] = (pivot_data['Sales_RA3']-pivot_data['Sales_RA2'])/pivot_data['Sales_RA2']

In [357]:
pivot_data.insert(0, 'Concatenate2', pivot_data['Area'] + pivot_data['Product Description'])
pivot_data.drop(['Area','Product Description','Sales_RA1','Sales_RA2','Sales_RA3'], axis=1, inplace=True)
growth_RA2_RA3 = pivot_data.copy()
df_merge.insert(0, 'Concatenate2', df_merge['Area'] + df_merge['Product Description'])

In [358]:
# Memasukkan hasil kalkulasi Growth ke DataFrame
df_merge = pd.merge(df_merge, 
                    growth_RA2_RA3, 
                    on='Concatenate2',
                    how='left')

Growth RA4

In [359]:
# Hanya ambil data yang lengkap saja dari RA3 dan RA4
C3 = df_merge['Sales_RA3'].notna()
C4 = df_merge['Sales_RA4'].notna()

data_lengkap = df_merge[C3 & C4]
pivot_data = pd.pivot_table(data_lengkap,
                            index=['Area','Product Description'],
                            values=['Sales_RA3','Sales_RA4'],
                            aggfunc='sum').reset_index()
pivot_data['Growth RA4'] = (pivot_data['Sales_RA4']-pivot_data['Sales_RA3'])/pivot_data['Sales_RA3']

In [360]:
pivot_data.insert(0, 'Concatenate2', pivot_data['Area'] + pivot_data['Product Description'])
pivot_data.drop(['Area','Product Description','Sales_RA3','Sales_RA4'], axis=1, inplace=True)
growth_RA4 = pivot_data.copy()
df_merge = pd.merge(df_merge, 
                    growth_RA4, 
                    on='Concatenate2',
                    how='left')

# Drop toko2 yang 3NA, dan 4NA

In [361]:
#  Drop toko yg dari List Nielsen, ganti toko dari list client [Karawang & Madiun]
list_toko_drop = (1614851, 1614852, 1614859, 1614860, 1614864, 1614865, 1614867,
                      1614875, 1614879, 1614892, 1614898, 1614899, 1614905, 1614923,
                      1614883, 1614884)
drop_toko_ = pd.DataFrame(list_toko_drop, columns=['SMS Id'])

In [362]:
# menghitung store2 yang NA / tidak ada penjualan sama sekali
Cek_NA = df_merge.groupby('SMS Id').sum()[['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4']].reset_index()
Cek_NA['RA1_NA'] = np.where(Cek_NA['Sales_RA1']==0, 1, 0)
Cek_NA['RA2_NA'] = np.where(Cek_NA['Sales_RA2']==0, 1, 0)
Cek_NA['RA3_NA'] = np.where(Cek_NA['Sales_RA3']==0, 1, 0)
Cek_NA['RA4_NA'] = np.where(Cek_NA['Sales_RA4']==0, 1, 0)
Cek_NA['Total_NA'] = Cek_NA['RA1_NA'] + Cek_NA['RA2_NA'] + Cek_NA['RA3_NA'] + Cek_NA['RA4_NA']

In [363]:
# menggabungkan list toko yang 3NA, 4NA dengan toko karawang/madiun yg di drop
drop_toko = Cek_NA[(Cek_NA['Total_NA']==4) | (Cek_NA['Total_NA']==3)].copy()
drop_toko = drop_toko.drop(['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4',
                            'RA1_NA','RA2_NA','RA3_NA','RA4_NA',
                            'Total_NA'], axis=1).reset_index(drop=True)
drop_toko.append(drop_toko_, ignore_index=True)
drop_toko['remarks'] = 'drop_toko'

In [364]:
# drop toko dari list
df_merge = pd.merge(df_merge, 
                    drop_toko, 
                    on='SMS Id',
                    how='left')
df_merge = df_merge[df_merge['remarks']!='drop_toko']

In [365]:
# menghitung jumlah toko setelah di drop
hitung_toko = pd.pivot_table(df_merge,
               index=['Area','SMS Id'],
               values='Bar Code',
               aggfunc='count').reset_index()
pd.pivot_table(hitung_toko,
               index='Area',
               values='SMS Id',
               aggfunc='count')

           SMS Id
Area
KARAWANG       87
KUPANG         80
LAMPUNG        84
MADIUN         82
PALEMBANG      74

## (*) Mengisi data jika sales RA1, RA2, dan RA3 blank; RA4 tidak blank

In [366]:
'''C1 = df_merge['Sales_RA1'].isna()
C2 = df_merge['Sales_RA2'].isna()
C3 = df_merge['Sales_RA3'].isna()
C4 = df_merge['Sales_RA4'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA1'])
df_merge['Sales_RA2'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA2'])
df_merge['Sales_RA3'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA3'])'''

"C1 = df_merge['Sales_RA1'].isna()\nC2 = df_merge['Sales_RA2'].isna()\nC3 = df_merge['Sales_RA3'].isna()\nC4 = df_merge['Sales_RA4'].notna()\n\ndf_merge['Sales_RA1'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA1'])\ndf_merge['Sales_RA2'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA2'])\ndf_merge['Sales_RA3'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA3'])"

##(*) Mengisi data jika sales R1 dan RA2 blank, RA3 tidak blank

In [367]:
C1 = (df_merge['Sales_RA1'].isna()) & (df_merge['ED_RA1']==0)
C2 = (df_merge['Sales_RA2'].isna()) & (df_merge['ED_RA2']==0)
C3 = df_merge['Sales_RA3'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2&C3, round((df_merge['Sales_RA3']/(df_merge['Growth RA3']+1))), df_merge['Sales_RA1'])
df_merge['Sales_RA2'] = np.where(C1&C2&C3, round((df_merge['Sales_RA3']/(df_merge['Growth RA3']+1))), df_merge['Sales_RA2'])

## (*) Mengisi data jika hanya sales RA1 yang blank RA2 tidak blank

In [368]:
C1 = (df_merge['Sales_RA1'].isna()) & (df_merge['ED_RA1']==0)
C2 = df_merge['Sales_RA2'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2, round(df_merge['Sales_RA2']/(df_merge['Growth RA2']+1)), df_merge['Sales_RA1'])

##(*) Mengisi data jika hanya sales RA2 yang blank RA1 tidak blank

In [369]:
C1 = df_merge['Sales_RA1'].notna()
C2 = (df_merge['Sales_RA2'].isna()) & (df_merge['ED_RA2']==0)

df_merge['Sales_RA2'] = np.where(C1&C2, round(df_merge['Sales_RA1']*(df_merge['Growth RA2']+1)), df_merge['Sales_RA2'])

##(*) Mengisi data jika sales RA3 yang blank RA2 tidak blank

In [370]:
C2 = df_merge['Sales_RA2'].notna()
C3 = (df_merge['Sales_RA3'].isna()) & (df_merge['ED_RA3']==0)

df_merge['Sales_RA3'] = np.where(C2&C3, round(df_merge['Sales_RA2']*(df_merge['Growth RA3']+1)), df_merge['Sales_RA3'])

##(*) Mengisi data jika hanya sales R4 yang blank RA3 tidak blank

In [371]:
C3 = df_merge['Sales_RA3'].notna()
C4 = (df_merge['Sales_RA4'].isna()) & (df_merge['ED_RA4']==0)

df_merge['Sales_RA4'] = np.where(C3&C4, round(df_merge['Sales_RA3']*(df_merge['Growth RA4']+1)), df_merge['Sales_RA4'])

##(*) Mengisi RBP yang blank dengan RBP di periode sebelumnya atau setelahnya

In [372]:
df_merge['RBP_IA'] = np.where(df_merge['RBP_IA'].isna(), df_merge['RBP_RA1'], df_merge['RBP_IA'])
df_merge['RBP_RA1'] = np.where(df_merge['RBP_RA1'].isna(), df_merge['RBP_IA'], df_merge['RBP_RA1'])
df_merge['RBP_RA1'] = np.where(df_merge['RBP_RA1'].isna(), df_merge['RBP_RA2'], df_merge['RBP_RA1'])
df_merge['RBP_RA2'] = np.where(df_merge['RBP_RA2'].isna(), df_merge['RBP_RA1'], df_merge['RBP_RA2'])
df_merge['RBP_RA2'] = np.where(df_merge['RBP_RA2'].isna(), df_merge['RBP_RA3'], df_merge['RBP_RA2'])
df_merge['RBP_RA3'] = np.where(df_merge['RBP_RA3'].isna(), df_merge['RBP_RA2'], df_merge['RBP_RA3'])
df_merge['RBP_RA3'] = np.where(df_merge['RBP_RA3'].isna(), df_merge['RBP_RA4'], df_merge['RBP_RA3'])
df_merge['RBP_RA4'] = np.where(df_merge['RBP_RA4'].isna(), df_merge['RBP_RA3'], df_merge['RBP_RA4'])
df_merge['RBP_IA'] = np.where(df_merge['RBP_IA'].isna(), df_merge['RBP_RA1'], df_merge['RBP_IA'])

##(*) Mengisi RSP/Price yang blank dengan RSP/Price di periode sebelumnya atau setelahnya

In [373]:
df_merge['RSP_IA'] = np.where(df_merge['RSP_IA'].isna(), df_merge['RSP_RA1'], df_merge['RSP_IA'])
df_merge['RSP_RA1'] = np.where(df_merge['RSP_RA1'].isna(), df_merge['RSP_IA'], df_merge['RSP_RA1'])
df_merge['RSP_RA1'] = np.where(df_merge['RSP_RA1'].isna(), df_merge['RSP_RA2'], df_merge['RSP_RA1'])
df_merge['RSP_RA2'] = np.where(df_merge['RSP_RA2'].isna(), df_merge['RSP_RA1'], df_merge['RSP_RA2'])
df_merge['RSP_RA2'] = np.where(df_merge['RSP_RA2'].isna(), df_merge['RSP_RA3'], df_merge['RSP_RA2'])
df_merge['RSP_RA3'] = np.where(df_merge['RSP_RA3'].isna(), df_merge['RSP_RA2'], df_merge['RSP_RA3'])
df_merge['RSP_RA3'] = np.where(df_merge['RSP_RA3'].isna(), df_merge['RSP_RA4'], df_merge['RSP_RA3'])
df_merge['RSP_RA4'] = np.where(df_merge['RSP_RA4'].isna(), df_merge['RSP_RA3'], df_merge['RSP_RA4'])
df_merge['RSP_IA'] = np.where(df_merge['RSP_IA'].isna(), df_merge['RSP_RA1'], df_merge['RSP_IA'])

## (*) Mengisi data Stock yang blank

In [374]:
C1 = df_merge['Stock_RA1'].notna()
C2 = df_merge['Stock_RA2'].notna()
C3 = df_merge['Stock_RA3'].notna()
C4 = df_merge['Stock_RA4'].notna()
D1 = df_merge['Purchase_RA1'].notna()
D2 = df_merge['Purchase_RA2'].notna()
D3 = df_merge['Purchase_RA3'].notna()
D4 = df_merge['Purchase_RA4'].notna()

pivot_stock = pd.pivot_table(df_merge[C1&C2&C3&C4&D1&D2&D3&D4],
                       index='Area',
                       values=['Stock_RA1','Stock_RA2','Stock_RA3','Stock_RA4'],
                       aggfunc='mean')
pivot_sales = pd.pivot_table(df_merge[C1&C2&C3&C4&D1&D2&D3&D4],
                       index='Area',
                       values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
                       aggfunc='mean')

In [375]:
pivot_stock

           Stock_RA1  Stock_RA2  Stock_RA3  Stock_RA4
Area
KARAWANG   10.931034  10.931034  10.931034  26.517241
KUPANG      9.830769   9.950769  10.055385  13.864615
LAMPUNG    11.371795  13.833333  14.728205  15.912821
MADIUN     24.797170  24.853774  24.830189  26.278302
PALEMBANG   9.466192   9.829181   9.960854   7.049822

In [376]:
pivot_sales

           Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
Area
KARAWANG   21.157895  30.672414  41.534483  34.017241
KUPANG     10.677778  13.553846  17.870769  17.553846
LAMPUNG    21.370031  18.471795  16.841026  30.469231
MADIUN     38.622549  39.382075  40.146226  57.839623
PALEMBANG  14.240000  20.284698  23.690391  42.886121

In [377]:
pivot_ = pivot_stock.merge(pivot_sales, on='Area')
pivot_['Stock/Sales_RA1'] = pivot_['Stock_RA1']/pivot_['Sales_RA1']
pivot_['Stock/Sales_RA2'] = pivot_['Stock_RA2']/pivot_['Sales_RA2']
pivot_['Stock/Sales_RA3'] = pivot_['Stock_RA3']/pivot_['Sales_RA3']
pivot_['Stock/Sales_RA4'] = pivot_['Stock_RA4']/pivot_['Sales_RA4']

In [378]:
pivot_ = pivot_.drop(['Stock_RA1','Stock_RA2','Stock_RA3','Stock_RA4','Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],axis=1)
pivot_

           Stock/Sales_RA1  Stock/Sales_RA2  Stock/Sales_RA3  Stock/Sales_RA4
Area
KARAWANG          0.516641         0.356380         0.263180         0.779524
KUPANG            0.920676         0.734166         0.562672         0.789833
LAMPUNG           0.532138         0.748890         0.874543         0.522259
MADIUN            0.642039         0.631094         0.618494         0.454330
PALEMBANG         0.664761         0.484561         0.420460         0.164385

In [379]:
df_merge = pd.merge(df_merge,
                    pivot_,
                    on='Area',
                    how='left')

In [380]:
df_merge['Stock_RA1'] = np.where(df_merge['Stock_RA1'].isna(), round(df_merge['Stock/Sales_RA1']*df_merge['Sales_RA1']), df_merge['Stock_RA1'])
df_merge['Stock_RA2'] = np.where(df_merge['Stock_RA2'].isna(), round(df_merge['Stock/Sales_RA2']*df_merge['Sales_RA2']), df_merge['Stock_RA2'])
df_merge['Stock_RA3'] = np.where(df_merge['Stock_RA3'].isna(), round(df_merge['Stock/Sales_RA3']*df_merge['Sales_RA3']), df_merge['Stock_RA3'])
df_merge['Stock_RA4'] = np.where(df_merge['Stock_RA4'].isna(), round(df_merge['Stock/Sales_RA4']*df_merge['Sales_RA4']), df_merge['Stock_RA4'])

## (*) Mengitung data purchase yang blank

In [381]:
df_merge['Purchase_RA1'] = np.where(df_merge['Purchase_RA1'].isna(), df_merge['Sales_RA1']-df_merge['Stock_IA']+df_merge['Stock_RA1'], df_merge['Purchase_RA1'])
df_merge['Purchase_RA2'] = np.where(df_merge['Purchase_RA2'].isna(), df_merge['Sales_RA2']-df_merge['Stock_RA1']+df_merge['Stock_RA2'], df_merge['Purchase_RA2'])
df_merge['Purchase_RA3'] = np.where(df_merge['Purchase_RA3'].isna(), df_merge['Sales_RA3']-df_merge['Stock_RA2']+df_merge['Stock_RA3'], df_merge['Purchase_RA3'])
df_merge['Purchase_RA4'] = np.where(df_merge['Purchase_RA4'].isna(), df_merge['Sales_RA4']-df_merge['Stock_RA3']+df_merge['Stock_RA4'], df_merge['Purchase_RA4'])

##(*) Menambah Fact baru 'APM_AVAILABILITY"

In [645]:
APM = df_merge['Item']=='APM 12'

C1 = df_merge['Sales_RA1']>0
C2 = df_merge['Stock_RA1']>0
C3 = df_merge['Purchase_RA1']>0
df_merge['APM_availability_RA1'] = np.where(APM & (C1|C2|C3),1,0)

C1 = df_merge['Sales_RA2']>0
C2 = df_merge['Stock_RA2']>0
C3 = df_merge['Purchase_RA2']>0
df_merge['APM_availability_RA2'] = np.where(APM & (C1|C2|C3),1,0)

C1 = df_merge['Sales_RA3']>0
C2 = df_merge['Stock_RA3']>0
C3 = df_merge['Purchase_RA3']>0
df_merge['APM_availability_RA3'] = np.where(APM & (C1|C2|C3),1,0)

C1 = df_merge['Sales_RA4']>0
C2 = df_merge['Stock_RA4']>0
C3 = df_merge['Purchase_RA4']>0
df_merge['APM_availability_RA4'] = np.where(APM & (C1|C2|C3),1,0)

# Notes

sales = prev_stock+purchase+missinginv+missinstock-shopstock-otherstock - goodreturn-wholesales

# Recheck POINT

## 1.Cek Toko2 yang penjualannya terlalu tinggi daripada toko2 lainnya

### PALEMBANG

In [384]:
# TOP 5 Toko di PALEMBANG
palembang = df_merge[df_merge['Area']=='PALEMBANG']
piv_palembang = pd.pivot_table(palembang,
               index='SMS Id',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

piv_palembang.sort_values('Sales_RA4', ascending=False).reset_index(drop=True).head(5)

## ADA 1 TOKO YANG ANGKANYA JAUH DARI TOKO LAINNYA

    SMS Id  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0  1609900      740.0     1313.0     1560.0     2853.0
1  1609940      147.0      396.0      570.0      881.0
2  1609907      137.0      200.0      252.0      806.0
3  1609946       37.0      254.0      290.0      598.0
4  1609896      131.0      172.0      276.0      461.0

In [385]:
# Lihat profil toko 1609900
pd.pivot_table(palembang[palembang['SMS Id']==1609900],
               index='Item',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

                 Item  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0          A HIJAU 12      100.0       44.0       80.0        0.0
1              APK 12        0.0        0.0        0.0        0.0
2            DADOS 12      200.0      350.0      400.0     1006.0
3  DJARUM ISTIMEWA 12      200.0      350.0      820.0      849.0
4              DSS 12      100.0       26.0      100.0        0.0
5         GG MERAH 12       40.0      350.0      100.0      306.0
6          PANAMAS 12       80.0      105.0       60.0      324.0
7            VIGOR 12       20.0       88.0        0.0      368.0

In [386]:
## Masukkan Toko ke List yang akan di Takeout
outlier_palembang = [1609900]

### KARAWANG

In [387]:
# TOP 5 Toko di KARAWANG
karawang = df_merge[df_merge['Area']=='KARAWANG']
piv_karawang = pd.pivot_table(karawang,
               index='SMS Id',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

piv_karawang.sort_values('Sales_RA4', ascending=False).reset_index(drop=True).head(10)

## ADA 4 TOKO YANG ANGKANYA JAUH DARI TOKO LAINNYA

    SMS Id  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0  1614176      730.0      730.0      727.0     1940.0
1  1614206      460.0      460.0      459.0     1729.0
2  1614063      190.0      190.0      190.0     1558.0
3  1610071     1250.0     1300.0     2300.0     1310.0
4  1614153      280.0      280.0      284.0      940.0
5  1614189      105.0      105.0      105.0      676.0
6  1614191      170.0      170.0      163.0      542.0
7  1614865      320.0      300.0      308.0      480.0
8  1614216      210.0      210.0      220.0      421.0
9  1610069      100.0      109.0      327.0      411.0

In [388]:
## Masukkan Toko ke List yang akan di Takeout
outlier_karawang = [1614176, 1614206, 1614063,	1610071]

### MADIUN

In [389]:
# TOP 5 Toko di MADIUN
madiun = df_merge[df_merge['Area']=='MADIUN']
piv_madiun = pd.pivot_table(madiun,
               index='SMS Id',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

piv_madiun.sort_values('Sales_RA4', ascending=False).reset_index(drop=True).head(5)

## ADA 1 TOKO YANG ANGKANYA JAUH DARI TOKO LAINNYA

    SMS Id  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0  1614399      130.0      130.0      131.0     2437.0
1  1610246      128.0      187.0      175.0      910.0
2  1614419      170.0      170.0      118.0      753.0
3  1610245      385.0      410.0      630.0      730.0
4  1614106      110.0      110.0      127.0      719.0

In [390]:
## Masukkan Toko ke List yang akan di Takeout
outlier_madiun = [1614399]

### LAMPUNG

In [391]:
# TOP 5 Toko di LAMPUNG
lampung = df_merge[df_merge['Area']=='LAMPUNG']
piv_lampung = pd.pivot_table(lampung,
               index='SMS Id',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

piv_lampung.sort_values('Sales_RA4', ascending=False).reset_index(drop=True).head(5)

## ADA 3 TOKO YANG ANGKANYA JAUH DARI TOKO LAINNYA

    SMS Id  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0  1609732     5210.0    11360.0    11323.0     9742.0
1  1609724      990.0     1101.0     1064.0     2828.0
2  1609700      737.0      690.0      771.0     1325.0
3  1609742      200.0      691.0      430.0     1041.0
4  1609723      399.0      362.0      435.0      801.0

In [392]:
## Masukkan Toko ke List yang akan di Takeout
outlier_lampung = [1609732, 1609724, 1609700]

### KUPANG

In [393]:
# TOP 5 Toko di KUPANG
kupang = df_merge[df_merge['Area']=='KUPANG']
piv_kupang = pd.pivot_table(kupang,
               index='SMS Id',
               values=['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4'],
               aggfunc='sum').reset_index()

piv_kupang.sort_values('Sales_RA4', ascending=False).reset_index(drop=True).head(5)

## ADA 1 TOKO YANG ANGKANYA JAUH DARI TOKO LAINNYA

    SMS Id  Sales_RA1  Sales_RA2  Sales_RA3  Sales_RA4
0  1610489      790.0      914.0     1399.0     2067.0
1  1610481       44.0       52.0       80.0      429.0
2  1610553       32.0       50.0       98.0      405.0
3  1610507      132.0      165.0      292.0      356.0
4  1610534       31.0       49.0       69.0      345.0

In [394]:
## Masukkan Toko ke List yang akan di Takeout
outlier_kupang = [1610489]

### Take Out Toko Outlier dari List

In [395]:
list_toko_outlier = outlier_palembang + outlier_karawang + outlier_madiun + outlier_lampung + outlier_kupang

In [396]:
list_toko_outlier

[1609900,
 1614176,
 1614206,
 1614063,
 1610071,
 1614399,
 1609732,
 1609724,
 1609700,
 1610489]

In [397]:
## TAKEOUT TOKO FROM LIST
df_clean = df_merge[~df_merge['SMS Id'].isin(list_toko_outlier)].reset_index(drop=True)

In [398]:
df_clean.head()

                                        Concatenate2  ... Stock/Sales_RA4
0  PALEMBANGGudang Garam Red Soft Kspl 12 Stc (Sktb)  ...        0.164385
1      PALEMBANGDji Sam Soe Soft Plain 12 Stc (Sktb)  ...        0.164385
2        PALEMBANGPanamas 1 Soft Plain 12 Stc (Sktb)  ...        0.164385
3  PALEMBANGDjarum Istimewa Soft Coklat Plain 12 ...  ...        0.164385
4  PALEMBANGGudang Garam Red Soft Kspl 12 Stc (Sktb)  ...        0.164385

[5 rows x 70 columns]

In [399]:
hitung_toko = pd.pivot_table(df_clean,
               index=['Area','SMS Id'],
               values='Bar Code',
               aggfunc='count').reset_index()
pd.pivot_table(hitung_toko,
               index='Area',
               values='SMS Id',
               aggfunc='count')

           SMS Id
Area
KARAWANG       83
KUPANG         79
LAMPUNG        81
MADIUN         81
PALEMBANG      73

In [400]:
df_clean.to_excel('data_clean.xlsx')

## CEK apakah masih ada data yang blank

In [401]:
C1 = df_clean['Sales_RA1'].isna()
C2 = df_clean['Sales_RA2'].isna()
C3 = df_clean['Sales_RA3'].isna()

df_clean[C1 | C2 | C3].to_excel('data_blank.xlsx')

## Cek RBP harus < dari RSP

In [402]:
df_clean[df_clean['RBP_IA']>df_clean['RSP_IA']].count().sum()

0

In [403]:
df_clean[df_clean['RBP_RA1']>df_clean['RSP_RA1']].count().sum()

0

In [404]:
df_clean[df_clean['RBP_RA2']>df_clean['RSP_RA2']].count().sum()

0

In [405]:
df_clean[df_clean['RBP_RA3']>df_clean['RSP_RA3']].count().sum()

0

In [406]:
df_clean[df_clean['RBP_RA4']>df_clean['RSP_RA4']].count().sum()

0

##1. Ada Promotion tapi tidak ada sales

In [637]:
unique_store = pd.DataFrame(df_clean['SMS Id'].unique(), columns=['Store Code'])
unique_store['remark'] = 'ok'
merge_SO = pd.merge(merge_SO,
                    unique_store,
                    on='Store Code',
                    how='left')
merge_SO = merge_SO[merge_SO['remark']=='ok']

In [ ]:
# count APM Promotion
merge_SO['Promotion'] = 0
merge_SO['Promotion'] = np.where(merge_SO['Q50B_Apakah ada promosi diskon untuk Brand di bawah ini ::Brand Apache Merah']=='Ya',merge_SO['Promotion']+1,merge_SO['Promotion']+0)
merge_SO['Promotion'] = np.where(merge_SO['Q50C_Apakah ada promosi Beli berapa pack gratis berapa pack contoh beli 2 gratis 1, beli 4 gratis 1 untuk Brand di bawah ini ::Brand Apache Merah']=='Ya',merge_SO['Promotion']+1,merge_SO['Promotion']+0)
merge_SO['Promotion'] = np.where(merge_SO['Q50D_Apakah ada promosi hadiah penjualan : Dapatkan Poin, Dapatkan Hadiah, dll. untuk Brand di bawah ini ::Brand Apache Merah']=='Ya',merge_SO['Promotion']+1,merge_SO['Promotion']+0)
merge_SO['Promotion'] = np.where(merge_SO['Q50E_Apakah ada promosi tukar cangkang/bungkus untuk Brand di bawah ini ::Brand Apache Merah']=='Ya',merge_SO['Promotion']+1,merge_SO['Promotion']+0)
merge_SO['Promotion'] = np.where(merge_SO['Q50F_Apakah ada promosi bundling produk untuk Brand di bawah ini ::Brand Apache Merah']=='Ya',merge_SO['Promotion']+1,merge_SO['Promotion']+0)
merge_SO[merge_SO['Promotion']>0]

In [642]:
# count APM visibility (POSM)
merge_SO['Visibility'] = 0
merge_SO['Visibility'] = np.where(merge_SO['Q50H_Apakah ada POSM sunscreen untuk brand berikut.:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO['Visibility'] = np.where(merge_SO['Q50I_Apakah ada POSM Tape Blocking Display untuk brand berikut.:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO['Visibility'] = np.where(merge_SO['Q50J_Apakah ada POSM decorative pack untuk brand berikut:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO['Visibility'] = np.where(merge_SO['Q50K_Apakah ada POSM sticker per pack atau perbatang untuk brand berikut:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO['Visibility'] = np.where(merge_SO['Q50L_Apakah ada POSM Blocking Display (Dummy Pack ada 5 Pack kosong) untuk brand berikut:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO['Visibility'] = np.where(merge_SO['Q50M_Apakah ada POSM Hanging Lighter untuk brand berikut:Brand Apache Merah']=='Ya',merge_SO['Visibility']+1,merge_SO['Visibility']+0)
merge_SO[merge_SO['Visibility']>0]

            Periode  RESPONSE_ID  ... Promotion Visibility
1      9Aug - 15Aug     20910089  ...         0          2
3      9Aug - 15Aug     20910091  ...         0          1
7      9Aug - 15Aug     20910095  ...         0          1
13     9Aug - 15Aug     20910101  ...         0          1
131    9Aug - 15Aug     20910241  ...         0          1
...             ...          ...  ...       ...        ...
1078  30Aug - 12Sep     21303921  ...         1          1
1081  30Aug - 12Sep     21303924  ...         1          1
1082  30Aug - 12Sep     21303925  ...         0          1
1083  30Aug - 12Sep     21303926  ...         1          1
1104  30Aug - 12Sep     21304019  ...         0          3

[115 rows x 418 columns]

##2. Ada POSM tapi tidak ada sales

##3. Ada sales tapi tidak ada promotion ataupun POSM