<a href="https://colab.research.google.com/github/dyahrosita/Project/blob/main/Project_JTI_5AO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import LIbrary

In [477]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from functools import reduce
import datetime as dt

from google.colab import files
from google.colab import drive
drive.mount("/content/gdrive/")

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

# Store Observation

In [478]:
drop_column = ['LANGUAGE_ID', 'VERSION', 'RESPONSE_NAME', 'RESPONSE_STATUS', 'SOURCE_OF_ENTRY', 'RESPONSE_MODE',
              'BACKCHK_FLAG', 'QC_STATUS', 'START_TIME', 'SUBMIT_TIME', 'SYNC_TIME', 'SERVER_SYNC_TIME',
              'CREATED_BY', 'CDAR_USER_ID', 'START_TIME_V1', 'SUBMIT_TIME_V1', 'CREATED_BY_V1', 'CDAR_USER_ID_V1',
              'SURVEY_DURATION_V1', 'SURVEY_ID', 'SURVEY_VERSION', 'QC_REMARK', 'QC_START_DATE', 'QC_END_DATE',
              'QC_SYNC_DATE', 'QC_SUBMIT_BY', 'APP_VERSION', 'PLATFORM_NAME', 'PLATFORM_MODEL', 'PLATFORM_VERSION',
              'FV_STATUS', 'FV_REMARK', 'FV_START_DATE', 'FV_END_DATE', 'FV_SYNC_DATE', 'FV_SUBMIT_BY', 'SCC_STATUS',
              'SCC_REMARK', 'SCC_START_DATE', 'SCC_END_DATE', 'SCC_SYNC_DATE', 'SCC_SUBMIT_BY', 'FLAG1', 'FLAG2',
              'FLAG3', 'FLAG4', 'FLAG5', 'SURVEY_MINOR_VERSION', 'Default Question Text', 'Q1. ID Auditor / CT',
              'Q2. Nama Auditor / CT', 'Q3B. Jam Survey', 'Latitude', 'LON_1', 'Q3L_Status FLAG', 'Q3M_Area Code',
              'Q4. Apakah informasi toko sudah benar?', 'Q4A. Apakah informasi nama toko sudah benar?', 'Q4A_1. Nama toko', 
              'Q4B. Apakah informasi alamat toko sudah benar?', 'Q4B_1. Alamat', 'Q4C. Apakah informasi type toko sudah benar?',
              'Q4C_1. Type toko', 'Q4D. Apakah informasi untuk (Provinsi, Kota, Kel, Kec) sudah benar?', 'Q4D_1. Provinsi',
              'Q4E_1. Kota', 'Q4F_1. Kecamatan', 'Q4G_1. Kelurahan', 'Q5A. Apakah ada papan penanda toko / spanduk terdapat Nama Toko?',
              'Q5B. Nama toko (menanyakan ke responden / tetangga)', 'Q5C. Tidak ada nama toko informasi (NA):NA', 'Q6A',
              'Q6. nama toko di penanda toko / toko tanda-tanda / spanduk toko', 'Q8. Lot / Los / Blokir',
              'Q9. informasi tambahan', 'Q10. Nama Lengkap pemilik Toko', 'Q11. Nama Penjaga Toko responden (di-interview)',
              'Q12. nomor telepon - Telkom (area nomor kode + telepon)', 'Q13. Nomor ponsel', 'Alamat', 'Q50N_1', 
              'Q50N_2', 'Q50N_3', 'Q50N_4', 'Q25', 'Q26', 'Q16_3', 'Q16_4', 'Q16_5', 'Q16_6', 'Q16_7', 'Q16_8', 'Q16_9',
              'Q16_10', 'Q16_11', 'Q16_12', 'Kecamatan', 'Kelurahan',
              'Q32_You have completed the survey, please check the data on summary page.']

In [479]:
Promotion_APM = ['Q50A_Apakah toko anda mendapatkan material promosi (sticker,poster,etc) untuk brand dibawah ini::Brand Apache Merah',
                 'Q50B_Apakah ada promosi diskon untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50C_Apakah ada promosi Beli berapa pack gratis berapa pack contoh beli 2 gratis 1, beli 4 gratis 1 untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50D_Apakah ada promosi hadiah penjualan : Dapatkan Poin, Dapatkan Hadiah, dll. untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50E_Apakah ada promosi tukar cangkang/bungkus untuk Brand di bawah ini ::Brand Apache Merah',
                 'Q50F_Apakah ada promosi bundling produk untuk Brand di bawah ini ::Brand Apache Merah']

Visibility_APM = ['Q50H_Apakah ada POSM sunscreen untuk brand berikut.:Brand Apache Merah',
                  'Q50I_Apakah ada POSM Tape Blocking Display untuk brand berikut.:Brand Apache Merah',
                  'Q50J_Apakah ada POSM decorative pack untuk brand berikut:Brand Apache Merah',
                  'Q50K_Apakah ada POSM sticker per pack atau perbatang untuk brand berikut:Brand Apache Merah',
                  'Q50L_Apakah ada POSM Blocking Display (Dummy Pack ada 5 Pack kosong) untuk brand berikut:Brand Apache Merah',
                  'Q50M_Apakah ada POSM Hanging Lighter untuk brand berikut:Brand Apache Merah']

In [480]:
MAP = pd.read_excel('gdrive/My Drive/JACOB/Datamap DCT Jacob.xlsx')

## Store Observation - IA (week 1)

In [481]:
SO_IA = pd.read_excel('gdrive/My Drive/JACOB/Data Clean JTI-Jacob 2021 Week 1-IA.xlsx','Rawdata DCT')

In [482]:
col_name = pd.DataFrame(SO_IA.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO_IA.columns = col_name['Label']

In [483]:
SO_IA = SO_IA.drop(drop_column, axis=1)

## Store Observation 1 (week 2)

In [484]:
SO1 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 2 (RA1).xlsx','Rawdata DCT')

In [485]:
col_name = pd.DataFrame(SO1.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO1.columns = col_name['Label']

In [486]:
drop_column.append('Q7. Lantai')

In [487]:
SO1 = SO1.drop(drop_column, axis=1)

## Store Observation 2 (week 3)

In [488]:
SO2 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 3 (RA2).xlsx','DCT')

In [489]:
col_name = pd.DataFrame(SO2.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO2.columns = col_name['Label']

In [490]:
SO2 = SO2.drop(drop_column, axis=1)

## Store Observation 3 (week 4)

In [491]:
SO3 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 4 (RA3).xlsx','DCT')

In [492]:
col_name = pd.DataFrame(SO3.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO3.columns = col_name['Label']

In [493]:
SO3 = SO3.drop(drop_column, axis=1)

## Store Observation 4 (week 5-6)

In [494]:
SO4 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 6 - CS Version.xlsx','DCT')

In [495]:
col_name = pd.DataFrame(SO4.columns, columns=['Variable'])
col_name = col_name.merge(MAP[['Variable','Label']], on='Variable')
col_name = col_name.drop('Variable', axis=1)
SO4.columns = col_name['Label']

In [496]:
SO4 = SO4.drop(drop_column, axis=1)

In [497]:
SO4.head()

Label  RESPONSE_ID Q3A. Tanggal Survey  ... Q30. ID Witness Q31_Store Comment.
0         21116251          01/09/2021  ...             NaN                Oke
1         21116252          01/09/2021  ...             NaN                Oke
2         21116253          01/09/2021  ...             NaN                Oke
3         21116254          01/09/2021  ...             NaN                Oke
4         21116255          04/09/2021  ...             NaN                 Ok

[5 rows x 415 columns]

###Membuat mapping area, mapping item, dan mapping toko

In [498]:
my_dict = {'Provinsi': ['LAMPUNG','SUMATERA SELATAN','JAWA BARAT','JAWA TIMUR','NUSA TENGGARA TIMUR','JAWA TENGAH'],
        'Area': ['LAMPUNG','PALEMBANG','KARAWANG','MADIUN','KUPANG','PURWOKERTO']}
area_mapping = pd.DataFrame(my_dict)

In [499]:
my_dict2 = {'Product Description': ['153 Satu Lima Tiga Lista Kumala Soft Plain 12 Stc (Sktb)','Apache Brown Box Plain 12 Stc (Sktb)',
                                    'Apache Brown Box Plain 20 Stc (Sktb)','Apache Brown Soft Plain 12 Stc (Sktb)',
                                    'Apache Merah Box Plain 12 Stc (Sktb)','Bentoel SJT Box Plain 12 Stc (Sktnb)',
                                    'Bulls Box Plain 12 Stc (Sktb)','Dados Brown Soft Plain 12 Stc (Sktb)',
                                    'Divo Box Plain 12 Stc (Sktb)','Djarum 76 Brown Box Plain 12 Stc (Sktb)',
                                    'Djarum Coklat Soft Plain 12 Stc (Sktb)','Djarum Istimewa Soft Coklat Plain 12 Stc (Sktb)',
                                    'Dji Sam Soe Edisi Khusus Soft Plain 12 Stc (Sktb)','Dji Sam Soe Soft Plain 12 Stc (Sktb)',
                                    'Grendel Utama Yellow Box Plain 12 Stc (Sktb)','Gudang Baru King Size Box Plain 12 Stc (Sktb)',
                                    'Gudang Baru King Size Soft Plain 12 Stc (Sktb)','Gudang Garam Djaja Box Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Djaja Soft Kspl 12 Stc (Sktb)','Gudang Garam Red Box Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Red Soft Kspl 12 Stc (Sktb)','Gudang Garam Taman Sriwedari Soft Kspl 12 Stc (Sktb)',
                                    'Gudang Garam Taman Sriwedari Soft Plain 12 Stc (Sktb)','Kedai Kopi Yellow Soft Plain 12 Stc (Sktb)',
                                    'Marlboro Box Filter 12 Stc (Skmb)','Menara Special Kuning Box Plain 12 Stc (Sktb)',
                                    'Minak Djinggo Kuning Soft Plain 10 Stc (Sktb)','Nalami Na Classic Brown Soft Plain 12 Stc (Sktb)',
                                    'Panamas 1 Soft Plain 12 Stc (Sktb)','Sampoerna \'A\' Hijau Box Plain 12 Stc (Sktb)',
                                    'Sampoerna \'A\' Hijau Edisi Khusus Box Plain 10+2 Stc (Sktb)','Sampoerna Kretek 234 Box Plain 12 Stc (Sktb)',
                                    'Simustika 269 Gold Brown Box Plain 12 Stc (Sktb)','Vigor Red Box Filter 12 Stc (Sktb)',
                                    'Warung Kopi Box Plain 12 Stc (Sktb)','Djarum Coklat Extra Box Plain 12 Stc (Sktb)'],
             'Item': ['153 12','APK 12','APK 20','APK 12','APM 12','BENTOEL SJT 12','BULLS 12','DADOS 12',
                      'DIVO 12','DJARUM 76 12','DJARUM COKLAT 12','DJARUM ISTIMEWA 12','DSS 12','DSS 12',
                      'GRENDEL 12','GUDANG BARU 12','GUDANG BARU 12','DJAJA 12','DJAJA 12','GG MERAH 12',
                      'GG MERAH 12','SRIWEDARI 12','SRIWEDARI 12','KEDAI KOPI 12','MARLBORO 12','MENARA 12',
                      'MINAK DJINGGO 10','NALAMI 12','PANAMAS 12','A HIJAU 12','A HIJAU 12','SAMPOERNA KRETEK 12',
                      'SIMUSTIKA 12','VIGOR 12','WARUNG KOPI 12','DJARUM COKLAT 12']}
item_mapping = pd.DataFrame(my_dict2)

In [500]:
mapping_toko = SO_IA[['Store Code','Type Toko','Provinsi']]
mapping_toko.shape

(347, 3)

In [501]:
mapping_toko = mapping_toko.append(SO1[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(707, 3)

In [502]:
mapping_toko = mapping_toko.append(SO2[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1060, 3)

In [503]:
mapping_toko = mapping_toko.append(SO3[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1484, 3)

In [504]:
mapping_toko = mapping_toko.append(SO4[['Store Code','Type Toko','Provinsi']])
mapping_toko.shape

(1988, 3)

In [505]:
mapping_toko = pd.merge(mapping_toko, 
                     area_mapping, 
                     on ='Provinsi', 
                     how ='left')

In [506]:
mapping_toko = mapping_toko.drop_duplicates(ignore_index=True)
mapping_toko.drop('Provinsi', axis=1, inplace=True)

### Merge Store Observation

In [507]:
# MAPPING AREA, TYPE TOKO, 
# MAPPING PRODUCT DESC -> BRAND
#

#Retail Audit

## Initial Audit (week 1)

In [508]:
# ambil data dari GDrive
IA = pd.read_excel('gdrive/My Drive/JACOB/Data Clean JTI-Jacob 2021 Week 1-IA.xlsx','Data Clean LHHT')
# ganti data yang memiliki nilai N/A dengan 0
IA = IA.fillna(0)

In [509]:
# hitung total stol
IA['Stock'] = IA['Shop/Front Stock']+IA['Other Stock']
#buat kolom unique name utk mapping (concatenate) dengan menggabungkan store code dengan product description
IA.insert(0, 'Concatenate', IA['SMS Id'].astype('str')+IA['Product Description'])

In [510]:
# menghapus kolom2 yang tidak dibutuhkan
IA = IA.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Audit Status','Sales'], axis=1)
# mengganti nama kolom agar sesuai dengan yg diinginkan
IA.columns = IA.columns.str.replace('Number Of Observation by Type of Observation','RBP')

In [511]:
# melihat sekilas data Initial Audit yang sudah dirapihkan
IA.head()

                                         Concatenate   SMS Id  ...  RSP/Price Stock
0  1609899Djarum Istimewa Soft Coklat Plain 12 St...  1609899  ...      13000  10.0
1    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  1609986  ...      13000  20.0
2        1610014Dji Sam Soe Soft Plain 12 Stc (Sktb)  1610014  ...      18000   4.0
3        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  1610908  ...      18000   5.0
4          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  1610908  ...      14000  10.0

[5 rows x 8 columns]

In [512]:
# membuat format untuk di merge dengan table lainnya
m_IA = IA.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_IA.columns = m_IA.columns.str.replace('Visit Date', 'IA').str.replace('RBP', 'RBP_IA').str.replace('RSP/Price','RSP_IA').str.replace('Stock','Stock_IA')
m_IA.columns

Index(['Concatenate', 'SMS Id', 'Bar Code', 'Product Description', 'IA',
       'RBP_IA', 'RSP_IA', 'Stock_IA'],
      dtype='object')

## Retail Audit 1 (week 2)

In [513]:
RA1 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 2 (RA1).xlsx','Data Clean')
RA1 = RA1.fillna(0)

In [514]:
RA1['Visit Date'] = RA1['Visit Date'].str.replace('Agu','Aug')
RA1['Visit Date'] = pd.to_datetime(RA1['Visit Date'])

In [515]:
RA1['Stock'] = RA1['Shop/Front Stock']+RA1['Other Stock']
RA1['Purchase'] = RA1['Direct Purchase(Pur1)']+RA1['Missing invoice(Pur3)']+RA1['Missing Stock']-RA1['Double Count']-RA1['Goods Returned']
RA1.insert(0, 'Concatenate', RA1['SMS Id'].astype('str')+RA1['Product Description'])

In [516]:
RA1 = RA1.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','Audit Status'], axis=1)
RA1.columns = RA1.columns.str.replace('Number Of Observation by Type of Observation','RBP')

In [517]:
'''new_IA = IA[['SMS Id','Visit Date']].drop_duplicates()
new_IA.columns = new_IA.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_IA = IA[['Concatenate','Stock']]
new2_IA.columns = new2_IA.columns.str.replace('Stock', 'Prev_Stock')'''

"new_IA = IA[['SMS Id','Visit Date']].drop_duplicates()\nnew_IA.columns = new_IA.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_IA = IA[['Concatenate','Stock']]\nnew2_IA.columns = new2_IA.columns.str.replace('Stock', 'Prev_Stock')"

In [518]:
'''RA1 = RA1.merge(new_IA, on='SMS Id')
RA1 = RA1.merge(new2_IA, on='Concatenate')'''

"RA1 = RA1.merge(new_IA, on='SMS Id')\nRA1 = RA1.merge(new2_IA, on='Concatenate')"

In [519]:
#RA1['Recheck_Sales'] = RA1['Prev_Stock']+RA1['Purchase']-RA1['Stock']

In [520]:
#RA1[RA1['Recheck_Sales']-RA1['Sales']!=0]

In [521]:
# membuat format untuk di merge dengan table lainnya
m_RA1 = RA1.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA1.columns = m_RA1.columns.str.replace('Visit Date', 'RA1').str.replace('RBP', 'RBP_RA1').str.replace('RSP/Price','RSP_RA1').str.replace('Stock','Stock_RA1').str.replace('Purchase','Purchase_RA1')
m_RA1.columns

Index(['Concatenate', 'SMS Id', 'Bar Code', 'Product Description', 'RA1',
       'RBP_RA1', 'RSP_RA1', 'Sales', 'Stock_RA1', 'Purchase_RA1'],
      dtype='object')

## Retail Audit 2 (week 3)

In [522]:
RA2 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 3 (RA2).xlsx','Data Clean')
RA2 = RA2.fillna(0)

In [523]:
RA2['Visit Date'] = RA2['Visit Date'].str.replace('Agu','Aug')
RA2['Visit Date'] = pd.to_datetime(RA2['Visit Date'])

In [524]:
RA2.head()

   Country Id  ...                                       Item Comment
0         360  ...                                                  0
1         360  ...      COVID - Sales turun karena kekurangan pasokan
2         360  ...                                                  0
3         360  ...                                                  0
4         360  ...  COVID - Sales naik, banyak permintaan produk/k...

[5 rows x 30 columns]

In [525]:
RA2['Stock'] = RA2['Shop/Front Stock']+RA2['Other Stock']
RA2['Purchase'] = RA2['Direct Purchase(Pur1)']+RA2['Missing invoice(Pur3)']+RA2['Missing Stock']-RA2['Double Count']-RA2['Goods Returned']
RA2.insert(0, 'Concatenate', RA2['SMS Id'].astype('str')+RA2['Product Description'])

In [526]:
RA2 = RA2.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)
RA2.columns = RA2.columns.str.replace('Number Of Observation by Type of Observation','RBP').str.replace('Sales_W2','Claimed_Sales_RA1(di_RA2)').str.replace('Item Comment','Comment_RA2')

In [527]:
RA2 = RA2.rename(columns = {'Number Of Observation by Type of Observation':'RBP',
                            'Sales':'Claimed_Sales_RA2(di_RA2)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA2)',
                            'Item Comment':'Comment_RA2'})

In [528]:
'''new_RA1 = RA1[['SMS Id','Visit Date']].drop_duplicates()
new_RA1.columns = new_RA1.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA1 = RA1[['Concatenate','Stock']]
new2_RA1.columns = new2_RA1.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA1 = RA1[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA1.columns = new_RA1.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA1 = RA1[['Concatenate','Stock']]\nnew2_RA1.columns = new2_RA1.columns.str.replace('Stock', 'Prev_Stock')"

In [529]:
'''RA2 = RA2.merge(new_RA1, on='SMS Id')
RA2 = RA2.merge(new2_RA1, on='Concatenate')'''

"RA2 = RA2.merge(new_RA1, on='SMS Id')\nRA2 = RA2.merge(new2_RA1, on='Concatenate')"

In [530]:
#RA2['Recheck_Sales'] = RA2['Prev_Stock']+RA2['Purchase']-RA2['Stock']

In [531]:
#RA2[RA2['Recheck_Sales']-RA2['Sales']!=0]

In [532]:
# membuat format untuk di merge dengan table lainnya
m_RA2 = RA2.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA2.columns = m_RA2.columns.str.replace('Visit Date', 'RA2').str.replace('RBP', 'RBP_RA2').str.replace('RSP/Price','RSP_RA2').str.replace('Stock','Stock_RA2').str.replace('Purchase','Purchase_RA2')
m_RA2.shape

(1749, 12)

## Retail Audit 3 (week 4)

In [533]:
RA3 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 4 (RA3).xlsx','Data Clean')
RA3 = RA3.fillna(0)

In [534]:
RA3['Visit Date'] = RA3['Visit Date'].str.replace('Agu','Aug')
RA3['Visit Date'] = pd.to_datetime(RA3['Visit Date'])

In [535]:
RA3['Stock'] = RA3['Shop/Front Stock']+RA3['Other Stock']
RA3['Purchase'] = RA3['Direct Purchase(Pur1)']+RA3['Missing invoice(Pur3)']+RA3['Missing Stock']-RA3['Double Count']-RA3['Goods Returned']
RA3.insert(0, 'Concatenate', RA3['SMS Id'].astype('str')+RA3['Product Description'])

In [536]:
RA3.head()

                                         Concatenate  ...  Purchase
0        1610063Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...      10.0
1          1610063Panamas 1 Soft Plain 12 Stc (Sktb)  ...      20.0
2  1610063Djarum Istimewa Soft Coklat Plain 12 St...  ...      10.0
3    1610063Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...       0.0
4        1610063Dados Brown Soft Plain 12 Stc (Sktb)  ...      50.0

[5 rows x 34 columns]

In [537]:
RA3 = RA3.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)

In [538]:
RA3 = RA3.rename(columns = {'Price To Retailer':'RBP', 'Sales':'Claimed_Sales_RA3(di_RA3)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA3)',
                            'Sales_W3':'Claimed_Sales_RA2(di_RA3)',
                            'Item Comment':'Comment_RA3'})

In [539]:
'''new_RA2 = RA2[['SMS Id','Visit Date']].drop_duplicates()
new_RA2.columns = new_RA2.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA2 = RA2[['Concatenate','Stock']]
new2_RA2.columns = new2_RA2.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA2 = RA2[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA2.columns = new_RA2.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA2 = RA2[['Concatenate','Stock']]\nnew2_RA2.columns = new2_RA2.columns.str.replace('Stock', 'Prev_Stock')"

In [540]:
'''RA3 = RA3.merge(new_RA2, on='SMS Id')
RA3 = RA3.merge(new2_RA2, on='Concatenate')'''

"RA3 = RA3.merge(new_RA2, on='SMS Id')\nRA3 = RA3.merge(new2_RA2, on='Concatenate')"

In [541]:
#RA3['Recheck_Sales'] = RA3['Prev_Stock']+RA3['Purchase']-RA3['Stock']

In [542]:
#RA3[RA3['Recheck_Sales']-RA3['Sales']!=0]

In [543]:
# membuat format untuk di merge dengan table lainnya
m_RA3 = RA3.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA3.columns = m_RA3.columns.str.replace(
    'Visit Date', 'RA3').str.replace(
        'RBP', 'RBP_RA3').str.replace(
            'RSP/Price','RSP_RA3').str.replace(
                'Stock','Stock_RA3').str.replace(
                    'Purchase','Purchase_RA3')

## Retail Audit 4 (week 5-6)

In [544]:
RA4 = pd.read_excel('gdrive/My Drive/JACOB/Data Clean Jacob 2021 Week 6 - CS Version.xlsx','Data Clean')
RA4 = RA4.fillna(0)

In [545]:
RA4['Stock'] = RA4['Shop/Front Stock']+RA4['Other Stock']
RA4['Purchase'] = RA4['Direct Purchase(Pur1)']+RA4['Missing invoice(Pur3)']+RA4['Missing Stock']-RA4['Double Count']-RA4['Goods Returned']
RA4.insert(0, 'Concatenate', RA4['SMS Id'].astype('str')+RA4['Product Description'])

In [546]:
RA4.head()

                                         Concatenate  ...  Purchase
0        1609895Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...      40.0
1       1609895Apache Brown Soft Plain 12 Stc (Sktb)  ...      10.0
2    1609895Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...      40.0
3  1609895Sampoerna 'A' Hijau Edisi Khusus Box Pl...  ...      40.0
4  1609895Djarum Istimewa Soft Coklat Plain 12 St...  ...     200.0

[5 rows x 35 columns]

In [547]:
RA4 = RA4.drop(['Country Id', 'Country Name', 'Auditor Id', 'Resource Name','Instruction Id', 
            'Category Id', 'Category Name', 'Module Name','Entity Id','Original Fact Value',
            'Cluster Id','alternate audit methodology','Shop/Front Stock','Other Stock',
            'Direct Purchase(Pur1)','Double Count', 'Goods Returned', 'Missing invoice(Pur3)',
            'Missing Stock','PREIVIOUS STOCK','Audit Status'], axis=1)
RA4.columns = RA4.columns.str.replace(
    'Price To Retailer','RBP').str.replace(
        'Sales_W2','Claimed_Sales_RA1(di_RA4)').str.replace(
            'Sales_W3','Claimed_Sales_RA2(di_RA4)').str.replace(
                'Sales_W4&5', 'Claimed_Sales_RA3(di_RA4)').str.replace(
                    'Item Comment','Comment_RA4')

In [548]:
RA4 = RA4.rename(columns = {'Price To Retailer':'RBP', 
                            'Sales':'Claimed_Sales_RA4(di_RA4)',
                            'Sales_W2':'Claimed_Sales_RA1(di_RA4)',
                            'Sales_W3':'Claimed_Sales_RA2(di_RA4)',
                            'Sales_W4&5':'Claimed_Sales_RA3(di_RA4)',
                            'Item Comment':'Comment_RA4'})

In [549]:
'''new_RA3 = RA3[['SMS Id','Visit Date']].drop_duplicates()
new_RA3.columns = new_RA3.columns.str.replace('Visit Date', 'Prev_Visit Date')
new2_RA3 = RA3[['Concatenate','Stock']]
new2_RA3.columns = new2_RA3.columns.str.replace('Stock', 'Prev_Stock')'''

"new_RA3 = RA3[['SMS Id','Visit Date']].drop_duplicates()\nnew_RA3.columns = new_RA3.columns.str.replace('Visit Date', 'Prev_Visit Date')\nnew2_RA3 = RA3[['Concatenate','Stock']]\nnew2_RA3.columns = new2_RA3.columns.str.replace('Stock', 'Prev_Stock')"

In [550]:
'''RA4 = RA4.merge(new_RA3, on='SMS Id')
RA4 = RA4.merge(new2_RA3, on='Concatenate')'''

"RA4 = RA4.merge(new_RA3, on='SMS Id')\nRA4 = RA4.merge(new2_RA3, on='Concatenate')"

In [551]:
#RA4.head()

In [552]:
#RA4['Recheck_Sales'] = RA4['Prev_Stock']+RA4['Purchase']-RA4['Stock']

In [553]:
#RA4[RA4['Recheck_Sales']-RA4['Sales']!=0]

In [554]:
# membuat format untuk di merge dengan table lainnya
m_RA4 = RA4.copy()
# mengganti nama kolom agar sesuai dengan yg diinginkan
m_RA4.columns = m_RA4.columns.str.replace(
    'Visit Date', 'RA4').str.replace(
        'RBP', 'RBP_RA4').str.replace(
            'RSP/Price','RSP_RA4').str.replace(
                'Stock','Stock_RA4').str.replace(
                    'Purchase','Purchase_RA4')

## Merge Data Retail Audit into 1 Dataframe

### Merge DataFrame IA dan RA1

In [678]:
inner = pd.merge(m_IA, m_RA1[['RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
       'Concatenate']], on="Concatenate", how="inner")
left = pd.merge(m_IA, m_RA1[['RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
       'Concatenate']], on="Concatenate", how="left", indicator=True)
right = pd.merge(m_IA[['IA','RBP_IA','RSP_IA','Stock_IA','Concatenate']], m_RA1, on="Concatenate", how="right", indicator=True)

In [679]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [680]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(1924, 14)

### Merge DataFrame IA+RA1 dan RA2

In [681]:
inner = pd.merge(df_merge, m_RA2[['Concatenate','RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2', 
                                  'Claimed_Sales_RA1(di_RA2)', 'Claimed_Sales_RA2(di_RA2)', 'Comment_RA2']], 
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, m_RA2[['Concatenate','RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2', 
                                 'Claimed_Sales_RA1(di_RA2)', 'Claimed_Sales_RA2(di_RA2)', 'Comment_RA2']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA','RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1']], 
                 m_RA2, on="Concatenate", how="right", indicator=True)

In [682]:
inner.shape

(1693, 22)

In [683]:
left[left['_merge']=='left_only'].shape

(231, 23)

In [684]:
right[right['_merge']=='right_only'].shape

(56, 22)

In [685]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [686]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(1980, 22)

### Merge DataFrame IA+RA1+RA2 dan RA3

In [687]:
m_RA3.columns

Index(['Concatenate', 'SMS Id', 'Bar Code', 'Product Description', 'RA3',
       'RBP_RA3', 'RSP_RA3', 'Claimed_Sales_RA3(di_RA3)',
       'Claimed_Sales_RA2(di_RA3)', 'Claimed_Sales_RA1(di_RA3)', 'Comment_RA3',
       'Stock_RA3', 'Purchase_RA3'],
      dtype='object')

In [688]:
inner = pd.merge(df_merge, 
                 m_RA3[['Concatenate','RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3', 
                        'Claimed_Sales_RA1(di_RA3)', 'Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']],
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, 
                m_RA3[['Concatenate','RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3', 
                       'Claimed_Sales_RA1(di_RA3)', 'Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA',
                           'RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
                           'RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2','Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)','Comment_RA2']], 
                 m_RA3, on="Concatenate", how="right", indicator=True)

In [689]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [690]:
df_merge.head()

                                         Concatenate  ...  _merge
0    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN
1        1610014Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
2        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
3          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  ...     NaN
4  1610908Djarum Istimewa Soft Coklat Plain 12 St...  ...     NaN

[5 rows x 32 columns]

In [691]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(2437, 31)

### Merge DataFrame IA+RA1+RA2+RA3 dan RA4

In [692]:
inner = pd.merge(df_merge, 
                 m_RA4[['Concatenate','RA4','RBP_RA4', 'RSP_RA4', 'Stock_RA4', 'Purchase_RA4', 
                        'Claimed_Sales_RA1(di_RA4)', 'Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)',
                        'Comment_RA4']],
                 on="Concatenate", how="inner")
left = pd.merge(df_merge, 
                m_RA4[['Concatenate','RA4','RBP_RA4', 'RSP_RA4', 'Stock_RA4', 'Purchase_RA4', 
                        'Claimed_Sales_RA1(di_RA4)', 'Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)',
                        'Comment_RA4']], 
                on="Concatenate", how="left", indicator=True)
right = pd.merge(df_merge[['Concatenate','IA','RBP_IA','RSP_IA','Stock_IA',
                           'RA1','RBP_RA1', 'RSP_RA1', 'Stock_RA1', 'Purchase_RA1',
                           'RA2','RBP_RA2', 'RSP_RA2', 'Stock_RA2', 'Purchase_RA2','Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)','Comment_RA2',
                           'RA3','RBP_RA3', 'RSP_RA3', 'Stock_RA3', 'Purchase_RA3','Claimed_Sales_RA1(di_RA3)','Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)','Comment_RA3']],
                 m_RA4, on="Concatenate", how="right", indicator=True)

In [693]:
df_merge = inner.append(left[left['_merge']=='left_only'], ignore_index = True)
df_merge = df_merge.append(right[right['_merge']=='right_only'], ignore_index = True)

In [694]:
df_merge.head()

                                         Concatenate  ...  _merge
0    1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN
1        1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...     NaN
2          1610908Panamas 1 Soft Plain 12 Stc (Sktb)  ...     NaN
3  1610908Djarum Istimewa Soft Coklat Plain 12 St...  ...     NaN
4    1610908Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...     NaN

[5 rows x 42 columns]

In [695]:
df_merge = df_merge.drop('_merge', axis=1)
df_merge.shape

(3424, 41)

# Perhitungan Sales

In [ ]:
df_merge = pd.merge(df_merge, 
                    mapping_toko, 
                    left_on='SMS Id',
                    right_on='Store Code',
                    how='left')
df_merge.head()

Drop toko2 yang 2NA, 3NA, dan 4NA

In [701]:
Cek_NA = df_merge.groupby('SMS Id').nunique()[['Sales_RA1','Sales_RA2','Sales_RA3','Sales_RA4']]
Cek_NA['Total_NA'] = Cek_NA['IA']+Cek_NA['Sales_RA1']+Cek_NA['Sales_RA2']+Cek_NA['Sales_RA3']+Cek_NA['Sales_RA4']
drop_toko = Cek_NA[(Cek_NA['Total_NA']==1) | (Cek_NA['Total_NA']==2)].copy()
drop_toko['remarks'] = 'drop_toko'
drop_toko = drop_toko.drop(['IA','RA1','RA2','RA3','RA4','Total_NA'], axis=1)
drop_toko.head()

Empty DataFrame
Columns: [remarks]
Index: []

In [697]:
df_merge = pd.merge(df_merge, 
                    drop_toko, 
                    on='SMS Id',
                    how='left')
df_merge = df_merge[df_merge['remarks']!='drop_toko']

In [698]:
df_merge

                                            Concatenate  ...  remarks
0       1609986Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...      NaN
1           1610908Dji Sam Soe Soft Plain 12 Stc (Sktb)  ...      NaN
2             1610908Panamas 1 Soft Plain 12 Stc (Sktb)  ...      NaN
3     1610908Djarum Istimewa Soft Coklat Plain 12 St...  ...      NaN
4       1610908Gudang Garam Red Soft Kspl 12 Stc (Sktb)  ...      NaN
...                                                 ...  ...      ...
3316               1610451Bulls Box Plain 12 Stc (Sktb)  ...      NaN
3317  1610451Dji Sam Soe Edisi Khusus Soft Plain 12 ...  ...      NaN
3318     1610481Gudang Garam Red Box Kspl 12 Stc (Sktb)  ...      NaN
3319  1609900Sampoerna 'A' Hijau Edisi Khusus Box Pl...  ...      NaN
3329        1609724Apache Merah Box Plain 12 Stc (Sktb)  ...      NaN

[2292 rows x 42 columns]

In [707]:
hitung_toko = pd.pivot_table(df_merge,
               index=['Area','SMS Id'],
               values='Bar Code',
               aggfunc='count').reset_index()
pd.pivot_table(hitung_toko,
               index='Area',
               values='SMS Id',
               aggfunc='count')

           SMS Id
Area
KARAWANG       31
KUPANG         81
LAMPUNG        83
MADIUN         63
PALEMBANG      76

## Perhitungan Elapsed Day

In [ ]:
df_merge['ED_RA1'] = df_merge['RA1'] - df_merge['IA']
df_merge['ED_RA2'] = df_merge['RA2'] - df_merge['RA1']
df_merge['ED_RA3'] = df_merge['RA3'] - df_merge['RA2']
df_merge['ED_RA4'] = df_merge['RA4'] - df_merge['RA3']

In [ ]:
df_merge[df_merge['ED_RA1'].isna()].head()

## Perhitungan Sales dengan Elapsed Day

In [ ]:
oneday = pd.Timedelta(days=1)

In [ ]:
df_merge['Claimed_Sales_RA1'] = np.where(df_merge['Claimed_Sales_RA1(di_RA4)']>0, df_merge['Claimed_Sales_RA1(di_RA4)'],
                                         np.where(df_merge['Claimed_Sales_RA1(di_RA3)']>0, df_merge['Claimed_Sales_RA1(di_RA3)'],
                                                   np.where(df_merge['Claimed_Sales_RA1(di_RA2)']>0, df_merge['Claimed_Sales_RA1(di_RA2)'], np.nan)))
df_merge['Claimed_Sales_RA2'] = np.where(df_merge['Claimed_Sales_RA2(di_RA4)']>0, df_merge['Claimed_Sales_RA2(di_RA4)'],
                                          np.where(df_merge['Claimed_Sales_RA2(di_RA3)']>0, df_merge['Claimed_Sales_RA2(di_RA3)'],
                                                   np.where(df_merge['Claimed_Sales_RA2(di_RA2)']>0, df_merge['Claimed_Sales_RA2(di_RA2)'], np.nan)))
df_merge['Claimed_Sales_RA3'] = np.where(df_merge['Claimed_Sales_RA3(di_RA4)']>0, df_merge['Claimed_Sales_RA3(di_RA4)'],
                                          np.where(df_merge['Claimed_Sales_RA3(di_RA3)']>0, df_merge['Claimed_Sales_RA3(di_RA3)'], np.nan))
df_merge['Claimed_Sales_RA4'] = np.where(df_merge['Claimed_Sales_RA4(di_RA4)']>0, df_merge['Claimed_Sales_RA4(di_RA4)'], np.nan)

df_merge = df_merge.drop(['Claimed_Sales_RA1(di_RA2)','Claimed_Sales_RA2(di_RA2)',
                          'Claimed_Sales_RA1(di_RA3)','Claimed_Sales_RA2(di_RA3)','Claimed_Sales_RA3(di_RA3)',
                          'Claimed_Sales_RA1(di_RA4)','Claimed_Sales_RA2(di_RA4)','Claimed_Sales_RA3(di_RA4)','Claimed_Sales_RA4(di_RA4)'], 
                         axis=1)

In [ ]:
df_merge['ED_RA1'] = df_merge['ED_RA1']/oneday
df_merge['ED_RA2'] = df_merge['ED_RA2']/oneday
df_merge['ED_RA3'] = df_merge['ED_RA3']/oneday
df_merge['ED_RA4'] = df_merge['ED_RA4']/oneday

In [ ]:
df_merge['ED_RA1'] = df_merge['ED_RA1'].fillna(0)
df_merge['ED_RA2'] = df_merge['ED_RA2'].fillna(0)
df_merge['ED_RA3'] = df_merge['ED_RA3'].fillna(0)
df_merge['ED_RA4'] = df_merge['ED_RA4'].fillna(0)

In [ ]:
df_merge['Sales_RA1'] = np.where(df_merge['ED_RA1']!=0, round((df_merge['Stock_IA']+df_merge['Purchase_RA1']-df_merge['Stock_RA1'])/df_merge['ED_RA1']*7), df_merge['Claimed_Sales_RA1'])
df_merge['Sales_RA2'] = np.where(df_merge['ED_RA2']!=0, round((df_merge['Stock_RA1']+df_merge['Purchase_RA2']-df_merge['Stock_RA2'])/df_merge['ED_RA2']*7), df_merge['Claimed_Sales_RA2'])
df_merge['Sales_RA3'] = np.where(df_merge['ED_RA3']!=0, round((df_merge['Stock_RA2']+df_merge['Purchase_RA3']-df_merge['Stock_RA3'])/df_merge['ED_RA3']*7), df_merge['Claimed_Sales_RA3'])
df_merge['Sales_RA4'] = np.where(df_merge['ED_RA4']!=0, round((df_merge['Stock_RA3']+df_merge['Purchase_RA4']-df_merge['Stock_RA4'])/df_merge['ED_RA4']*14), 0)

In [ ]:
df_merge.head()

## Perhitungan Growth per Product Description per Area

In [ ]:
# Hanya ambil data yang lengkap saja dari RA1-RA3
C1 = df_merge['Sales_RA1'].notna()
C2 = df_merge['Sales_RA2'].notna()
C3 = df_merge['Sales_RA3'].notna()
data_lengkap = df_merge[C1 & C2 & C3]
pivot_data = pd.pivot_table(data_lengkap,
                            index=['Area','Product Description'],
                            values=['Sales_RA1','Sales_RA2','Sales_RA3'],
                            aggfunc='sum').reset_index()
pivot_data['Growth RA2'] = (pivot_data['Sales_RA2']-pivot_data['Sales_RA1'])/pivot_data['Sales_RA1']
pivot_data['Growth RA3'] = (pivot_data['Sales_RA3']-pivot_data['Sales_RA2'])/pivot_data['Sales_RA2']

In [ ]:
pivot_data.insert(0, 'Concatenate2', pivot_data['Area'] + pivot_data['Product Description'])

In [ ]:
pivot_data.drop(['Area','Product Description','Sales_RA1','Sales_RA2','Sales_RA3'], axis=1, inplace=True)

In [ ]:
growth_RA2_RA3 = pivot_data.copy()

In [ ]:
df_merge.insert(0, 'Concatenate2', df_merge['Area'] + df_merge['Product Description'])

In [ ]:
df_merge = pd.merge(df_merge, 
                    growth_RA2_RA3, 
                    on='Concatenate2',
                    how='left')
df_merge.head()

Growth RA4

In [ ]:
# Hanya ambil data yang lengkap saja dari RA3 dan RA4
C3 = df_merge['Sales_RA3'].notna()
C4 = df_merge['Sales_RA4'].notna()

data_lengkap = df_merge[C3 & C4]
pivot_data = pd.pivot_table(data_lengkap,
                            index=['Area','Product Description'],
                            values=['Sales_RA3','Sales_RA4'],
                            aggfunc='sum').reset_index()
pivot_data['Growth RA4'] = (pivot_data['Sales_RA4']-pivot_data['Sales_RA3'])/pivot_data['Sales_RA3']

In [ ]:
pivot_data.insert(0, 'Concatenate2', pivot_data['Area'] + pivot_data['Product Description'])

In [ ]:
pivot_data.drop(['Area','Product Description','Sales_RA3','Sales_RA4'], axis=1, inplace=True)

In [ ]:
growth_RA4 = pivot_data.copy()

In [ ]:
df_merge = pd.merge(df_merge, 
                    growth_RA4, 
                    on='Concatenate2',
                    how='left')
df_merge.head()

## (*) Mengisi data jika sales RA1, RA2, dan RA3 blank; RA4 tidak blank

In [ ]:
C1 = df_merge['Sales_RA1'].isna()
C2 = df_merge['Sales_RA2'].isna()
C3 = df_merge['Sales_RA3'].isna()
C4 = df_merge['Sales_RA4'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA1'])
df_merge['Sales_RA2'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA2'])
df_merge['Sales_RA3'] = np.where(C1&C2&C3&C4, round((df_merge['Sales_RA4']/(df_merge['Growth RA4']+1))/3), df_merge['Sales_RA3'])

##(*) Mengisi data jika sales R1 dan RA2 blank, RA3 tidak blank

In [ ]:
C1 = df_merge['Sales_RA1'].isna()
C2 = df_merge['Sales_RA2'].isna()
C3 = df_merge['Sales_RA3'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2&C3, (df_merge['Sales_RA3']/(df_merge['Growth RA3']+1))/2, df_merge['Sales_RA1'])
df_merge['Sales_RA2'] = np.where(C1&C2&C3, (df_merge['Sales_RA3']/(df_merge['Growth RA3']+1))/2, df_merge['Sales_RA2'])

## (*) Mengisi data jika hanya sales RA1 yang blank RA2 tidak blank

In [ ]:
C1 = df_merge['Sales_RA1'].isna()
C2 = df_merge['Sales_RA2'].notna()

df_merge['Sales_RA1'] = np.where(C1&C2, df_merge['Sales_RA2']/(df_merge['Growth RA2']+1), df_merge['Sales_RA1'])

##(*) Mengisi data jika hanya sales RA2 yang blank RA1 tidak blank

In [ ]:
C1 = df_merge['Sales_RA1'].notna()
C2 = df_merge['Sales_RA2'].isna()

df_merge['Sales_RA2'] = np.where(C1&C2, df_merge['Sales_RA1']*(df_merge['Growth RA2']+1), df_merge['Sales_RA2'])

##(*) Mengisi data jika sales RA3 yang blank RA2 tidak blank

In [ ]:
C2 = df_merge['Sales_RA2'].notna()
C3 = df_merge['Sales_RA3'].isna()

df_merge['Sales_RA3'] = np.where(C2&C3, df_merge['Sales_RA2']*(df_merge['Growth RA3']+1), df_merge['Sales_RA3'])

##(*) Mengisi data jika hanya sales R4 yang blank RA3 tidak blank

In [ ]:
C3 = df_merge['Sales_RA3'].isna()
C4 = df_merge['Sales_RA4'].isna()

## CEK apakah masih ada data yang blank

In [ ]:
C1 = df_merge['Sales_RA1'].isna()
C2 = df_merge['Sales_RA2'].isna()
C3 = df_merge['Sales_RA3'].isna()
C4 = df_merge['Sales_RA4'].isna()

df_merge[C1 | C2 | C3].to_csv('data_blank.csv')

# Notes

sales = prev_stock+purchase+missinginv+missinstock-shopstock-otherstock - goodreturn-wholesales

# Checking

##1. Ada Promotion tapi tidak ada sales

##2. Ada POSM tapi tidak ada sales

##3. Ada sales tapi tidak ada promotion ataupun POSM